@import "scheme.less"; // color scheme
@import "bootstrap-theme.less"; // bootstrap
@import "_1pxdeep.less"; // 1pxdeep theme
@import "style.less";

// add some space to the top for the bootstrap top bar
body {
  padding-top: 25px;
  padding-bottom: 25px;
}
// used to apply scheme.less color scheme
.code-color(@color) {
  background:@color;
  .contrast(@color);
  border-color:@color;
}
