@import "bootstrap-theme.less"; // bootstrap
// @import "_1pxdeep.less"; // 1pxdeep theme
@import "scheme.less"; // color scheme

// @seed-color:#adcdd3;
@seed-color: rgb(210,226,229);
@grid-float-breakpoint: 992px;

@import "snactabs.less";

/* tabs http://css.maxdesign.com.au/listamatic/horizontal03.htm */

.georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}

// add some space to the top for the bootstrap top bar
body {
  padding-top: 25px;
  padding-bottom: 25px;
}
// used to apply scheme.less color scheme
.code-color(@color) {
  background:@color;
  .contrast(@color);
  border-color:@color;
}
