<?xml version="1.0"?>
<ul class="alphascroll">
  <li id="alphascroll-a" class="alphascroll-item" unselectable="on">A</li>
  <li id="alphascroll-b" class="alphascroll-item" unselectable="on">B</li>
  <li id="alphascroll-c" class="alphascroll-item" unselectable="on">C</li>
  <li id="alphascroll-d" unselectable="on">D</li>
  <li id="alphascroll-e" class="alphascroll-item" unselectable="on">E</li>
  <li id="alphascroll-f" class="alphascroll-item" unselectable="on">F</li>
  <li id="alphascroll-g" class="alphascroll-item" unselectable="on">G</li>
  <li id="alphascroll-h" class="alphascroll-item" unselectable="on">H</li>
  <li id="alphascroll-i" class="alphascroll-item" unselectable="on">I</li>
  <li id="alphascroll-j" class="alphascroll-item" unselectable="on">J</li>
  <li id="alphascroll-k" class="alphascroll-item" unselectable="on">K</li>
  <li id="alphascroll-l" class="alphascroll-item" unselectable="on">L</li>
  <li id="alphascroll-m" class="alphascroll-item" unselectable="on">M</li>
  <li id="alphascroll-n" class="alphascroll-item" unselectable="on">N</li>
  <li id="alphascroll-o" class="alphascroll-item" unselectable="on">O</li>
  <li id="alphascroll-p" class="alphascroll-item" unselectable="on">P</li>
  <li id="alphascroll-q" unselectable="on">Q</li>
  <li id="alphascroll-r" class="alphascroll-item" unselectable="on">R</li>
  <li id="alphascroll-s" class="alphascroll-item" unselectable="on">S</li>
  <li id="alphascroll-t" class="alphascroll-item" unselectable="on">T</li>
  <li id="alphascroll-u" unselectable="on">U</li>
  <li id="alphascroll-v" class="alphascroll-item" unselectable="on">V</li>
  <li id="alphascroll-w" class="alphascroll-item" unselectable="on">W</li>
  <li id="alphascroll-x" unselectable="on">X</li>
  <li id="alphascroll-y" unselectable="on">Y</li>
  <li id="alphascroll-z" class="alphascroll-item" unselectable="on">Z</li>
</ul>
