<ul class="alphascroll" style="width: 2.5em; position: absolute; top: 2.5em; left: -0.5em;">
  <li data-toggle="tooltip" data-placement="right" title="0">0</li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">A</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">B</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">C</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">D</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">E</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">F</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">G</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">H</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">I</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">J</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">K</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">L</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">M</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">N</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">O</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">P</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">Q</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">R</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">S</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">T</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">U</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">V</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">W</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">X</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">Y</a></li>
  <li><a href="" data-toggle="tooltip" data-placement="right" title="500">Z</a></li>
</ul>
