    <form>
    <select class="AZletters form-control">
      <option type="button" class="btn" disabled="disabled" title="922">names starting with 0</option>
      <option type="button" href="/xtf/search?facet-identityAZ=A">names starting with A</option>
      <option type="button" title="170,026" href="/xtf/search?facet-identityAZ=B">names starting with B</option>
      <option type="button" title="160,830" href="/xtf/search?facet-identityAZ=C">names starting with C</option>
      <option type="button" title="84,348" href="/xtf/search?facet-identityAZ=D">names starting with D</option>
      <option type="button" title="75,244" href="/xtf/search?facet-identityAZ=F">names starting with F</option>
      <option type="button" title="90,319" href="/xtf/search?facet-identityAZ=G">G</option>
      <option type="button" title="125,835" href="/xtf/search?facet-identityAZ=H">H</option>
      <option type="button" title="22,158" href="/xtf/search?facet-identityAZ=I">I</option>
      <option type="button" title="42,282" href="/xtf/search?facet-identityAZ=J">J</option>
      <option type="button" title="58,147" href="/xtf/search?facet-identityAZ=K">K</option>
      <option type="button" title="88,698" href="/xtf/search?facet-identityAZ=L">L</option>
      <option type="button" title="159,250" href="/xtf/search?facet-identityAZ=M">M</option>
      <option type="button" title="54,660" href="/xtf/search?facet-identityAZ=N">N</option>
      <option type="button" title="31,667" href="/xtf/search?facet-identityAZ=O">O</option>
      <option type="button" title="96,750" href="/xtf/search?facet-identityAZ=P">P</option>
      <option type="button" title="3,645" href="/xtf/search?facet-identityAZ=Q">Q</option>
      <option type="button" title="84,725" href="/xtf/search?facet-identityAZ=R">R</option>
      <option type="button" title="178,565" href="/xtf/search?facet-identityAZ=S">S</option>
      <option type="button" title="65,896" href="/xtf/search?facet-identityAZ=T">T</option>
      <option type="button" title="44,756" href="/xtf/search?facet-identityAZ=U">U</option>
      <option type="button" title="27,370" href="/xtf/search?facet-identityAZ=V">V</option>
      <option type="button" title="109,197" href="/xtf/search?facet-identityAZ=W">W</option>
      <option type="button" title="435" href="/xtf/search?facet-identityAZ=X">X</option>
      <option type="button" title="11,227" href="/xtf/search?facet-identityAZ=Y">Y</option>
      <option type="button" title="7,472" href="/xtf/search?facet-identityAZ=Z">Z</option>
    </select>
    </form>
