<div id="browsefilterby">
  <div>
    <h3>Browse or filter by:</h3>
    <div class="result_summary">
      <i>Showing results for "some search"</i>
    </div>
  </div>
  <div class="tabbar">
    <div class="filternav">
      <small>Show records with:
      </small>
      <div>
        <button type="button" class="active">All</button>
        <button type="button">Biographies</button>
        <button type="button">Wikipedia Links</button>
        <button type="button" class="disabled">Collection Links</button>
      </div>
    </div>
    <div class="browsenav">
      <ul>
        <li class="active"><a href="">Featured</a></li>
        <li><a href="">Name</a></li>
        <li><a href="">Occupation</a></li>
        <li class="disabled"><a href="">Subject</a></li>
      </ul>
    </div>
  </div>
</div>
