<div id="browsefilterby">
  <h3>Browse or filter by:</h3>
</div>

<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Featured</a></li>
              <li><a href="#">Name</a></li>
              <li><a href="#">Occupations</a></li>
              <li><a href="#">Subjects</a></li>
          </div>
          <div class="navbar-collapse collapse">
            <div class="btn-group navbar-text btn-group-xs nav navbar-nav navbar-right">
        <button type="button" class="btn btn-primary">All</button>
        <button type="button" class="btn btn-default">Biographies</button>
        <button type="button" class="btn btn-default">Wikipedia Links</button>
        <button type="button" class="btn btn-default">Collection Links</button>
      </div>
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
   </div>
