<div id="browsefilterby">
  <div>
    <h3>Browse or filter by:</h3>
    <!-- div class="result_summary">
      <i>Showing results for "some search"</i>
    </div -->
  </div>
  <div class="tabbar">
    <div class="filternav">
      <small>Show records with:
      <ul>
      </small>
        <li><a href="#" class="active" role="button">All</a></li>
        <li><a href="#" role="button"><div class="icon-B"></div>Biographies</a></li>
        <li><a href="#" role="button"><div class="icon-W"></div>Wikipedia Links</a></li>
        <!-- li><a href="#" role="button"><i class="C_icon"></i>Collection Links</a></li -->
      </ul>
      <span/><!-- this span to prepend select/option to -->
    </div>
    <div class="browsenav">
      <ul>
        <!-- li><a href="">Featured</a></li -->
        <li class="active"><a href="">Name</a></li>
        <li><a href="">Occupation</a></li>
        <li><a href="">Subject</a></li>
      </ul>
    </div>
  </div>
</div>
