<div id="browsefilterby">
  <div>
    <h3>Browse or filter by:</h3>
    <div class="result_summary">
      <i>Showing results for "some search"</i>
    </div>
  </div>
  <div>
    <ul class="browsenav">
      <li class="active"><a href="">Featured</a></li>
      <li><a href="">Name</a></li>
      <li><a href="">Occupation</a></li>
      <li class="disabled"><a href="">Subject</a></li>
    </ul>
    <ul class="browsenavx">
      <li class="active"><a href="">Featured</a></li>
      <li><a href="">Name</a></li>
      <li><a href="">Occupation</a></li>
      <li class="disabled"><a href="">Subject</a></li>
    </ul>
    <!-- div class="filternav">HEY</div -->
  </div>
</div>


