        <div id="footer_body" class="footer_color" style="font-size: .8em;">
          <p class="dashed">
            Published by the <a href="http://iath.virginia.edu/" class="inactive">Institute for Advanced Technology in the Humanities</a> |
            <a href="contact.html" class="inactive">Contact &gt;</a>
            <br>
            © 2013 Rectors and Visitors of the <a href="http://www.virginia.edu/" class="inactive">University of Virginia</a>
          </p>
          <p class="dashed"> 
            Sponsors: <a href="http://www.mellon.org/" class="inactive">Andrew W. Mellon Foundation</a> | 
            <a href="http://www.imls.gov/" class="inactive">The Institute for Museum and Library Services</a> |
            <a href="http://www.neh.gov/" class="inactive">National Endowment for the Humanities</a>
          </p>
            <p class="dashed">
              <span class="gray">Collaborators: </span>
              <a href="http://iath.virginia.edu/" class="inactive">UVa IATH</a> |
              <a href="http://www.ischool.berkeley.edu/" class="inactive">UC Berkeley School of Information</a> | 
              <a href="http://www.cdlib.org/" class="inactive">California Digital Library</a> | 
              <a href="http://www.archives.gov/" class="inactive">National Archives and Records Administration</a>
            </p>
      </div>
