      <div class="container">
        <div class="row" style="padding-top: 1em; padding-bottom: 1em;">
          <div class="col-xs-2">
            <a href="/snac/search?rmode=terms">Terms and Privacy</a>
          </div>
          <div class="col-xs-4 text-center">
            <a class="qt-trigger" href="/sponsors.html">Sponsors</a>
            <div class="sr-only">
              <div class="text-center"><div class="sprite-icons-mellonorg"></div><a href="http://www.mellon.org/">Andrew W. Mellon Foundation</a></div>
              <div class="text-center"><div class="sprite-icons-imlsgov"></div><a href="http://www.imls.gov/">The Institute for Museum and Library Services</a></div>
              <div class="text-center"><div class="sprite-icons-nehgov"></div><a href="http://www.neh.gov/">National Endowment for the Humanities</a></div>
            </div>
          </div>
          <div class="col-xs-4 text-center">
            <a class="qt-trigger" href="/collaborators.html">Collaborators</a>
            <div class="sr-only">
              <div class="text-center"><a href="http://iath.virginia.edu/">Institute for Advanced Technology in the Humanities</a></div>
              <div class="text-center"><a href="http://www.ischool.berkeley.edu/">UC Berkeley School of Information</a></div>
              <div class="text-center"><a href="http://www.cdlib.org/">California Digital Library</a></div>
              <div class="text-center"><a href="http://www.archives.gov/">National Archives and Records Administration</a></div>
            </div>
          </div>
          <div class="col-xs-2 text-right">
              <a href="http://socialarchive.iath.virginia.edu/about.html">About SNAC</a>
          </div>
        </div>
      </div>
