<!-- Fixed navbar -->
<div id="snacnav" role="navigation">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="snacnav-logo-left" href="#" style="padding: 0px;"><%= image_tag "snac_logo_small.svg" %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">about</a></li>
        <li class="active"><a href="/xtf/search">prototype</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">resources</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <li>
          <a class="navbar-brand" id="snacnav-logo-right" href="#"><%= image_tag "snac_spelled_out_300.svg" %></a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
