  <div>
    <div class="biogHist">
      <p>In the summer of 1798 President John Adams appointed Washington commander-in-chief of the army to be raised in expectation
                     of a war with France.
                  </p>
      <p class="source">From the description of LS : Philadelphia, to James McHenry, 1798 Dec. 13. (Rosenbach Museum &amp; Library). WorldCat record id:
                     122365129
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of George Washington letter of appointment for William Hill, 1790. (Unknown). WorldCat record id: 367390588</p>
    </div>
    <div class="biogHist">
      <p>First President of the United States, 1789-1797.</p>
      <p class="source">From the description of Letter : [Springfield, N.J.], to [Governor William Livingston, 1780 June 18]. (Unknown). WorldCat
                     record id: 42596333
                  </p>
    </div>
    <div class="biogHist">
      <p>Represented in the collection are George Washington, commander of the Continental Army and first president of the United States;
                     and Eliza Parke Custis, granddaughter of his wife, Martha Washington.
                  </p>
      <p class="source">From the description of Letters, 1775-1828. (University of Virginia). WorldCat record id: 32959907</p>
    </div>
    <div class="biogHist">
      <p>Surveyor, army officer, and President of the United States.</p>
      <p class="source">From the description of Letter of George Washington, 1776. (Unknown). WorldCat record id: 82500464</p>
    </div>
    <div class="biogHist">
      <p>Commander-in-chief of the Continental Army; first president of the United States.</p>
      <p class="source">From the description of Military discharge of Robert Ryan, 1783 June 12. (Unknown). WorldCat record id: 181085069</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of George Washington letter, 1780 Mar. 29. (Litchfield Historical Society). WorldCat record id: 777602957</p>
    </div>
    <div class="biogHist">
      <p>Washington was born on February 22, 1732, in Westmoreland County, Virginia. A student of military science, in 1753 he began
                     several years service with the Virginia militia in the French and Indian Wars, taking command of all Virginia forces in 1755
                     and participating in several dangerous actions. In 1774, Washington participated in the First Continental Congress and took
                     command of the Virginia militia; by the next year the Second Congress made him commander in chief of the Continental army,
                     June 1775. Washington led American forces through the Revolution. He returned to Mount Vernon in 1783, but maintained a presence
                     in the debate over the country's future. In 1789, the first electors unanimously voted Washington as president; he was reelected
                     in 1793. In 1796, Washington announced he would not run again. He died in 1799 at Mount Vernon.
                  </p>
      <p class="source">From the description of Holograph letter from General George Washington to Ensign Marsh, New York. (Florida State University).
                     WorldCat record id: 50670824
                  </p>
    </div>
    <div class="biogHist">
      <p>Washington was the first American president; Lincoln was a U.S. secretary of war and army officer and lieutenant governor
                     of Massachusetts.
                  </p>
      <p class="source">From the description of Letters to Benjamin Lincoln, 1777-1789. (Harvard University). WorldCat record id: 79909245</p>
    </div>
    <div class="biogHist">
      <p>Washington had just led the Continental Army in the New Jersey campaign of Trenton and Princeton.</p>
      <p class="source">From the description of ALS, l777 February 20 : Morristown, to Col. Samuel Washington, Berkeley County, Virginia. (Copley
                     Press, J S Copley Library). WorldCat record id: 12940694
                  </p>
    </div>
    <div class="biogHist">
      <p>Continental Army general and U.S. president.</p>
      <p class="source">From the description of George Washington letter to General Huntington, 1783 Oct. 16. (Unknown). WorldCat record id: 154690890</p>
    </div>
    <div class="biogHist">
      <p>Washington served as President of the U.S. Constitutional Convention in 1787.</p>
      <p class="source">From the description of Letter, 1788 April 15, Mount Vernon [to John Jay]. (Newberry Library). WorldCat record id: 24093083</p>
    </div>
    <div class="biogHist">
      <p>George Washington (1732-1799) was a planter, soldier, and first president of the United States.</p>
      <p class="source">From the description of Papers, 1754-1958. (American Antiquarian Society). WorldCat record id: 191281940</p>
    </div>
    <div class="biogHist">
      <p>Washington served as commander-in-chief of Continental Forces, 1775-1783; president of the Constitutional Convention in 1787;
                     and President of the United States 1789-1797.
                  </p>
      <p class="source">From the description of Letters, 1786-1795. (Indiana Historical Society Library). WorldCat record id: 29944427</p>
    </div>
    <div class="biogHist">
      <p>U.S. president, U.S. Army officer, and patriot.</p>
      <p class="source">From the description of George Washington papers, 1592-1943 (bulk 1748-1799). (Unknown). WorldCat record id: 70980248</p>
    </div>
    <div class="biogHist">
      <p>George Washington was the first President of the United States. He was venerated as a hero and his image became an important
                     symbol to Americans. His home at Mount Vernon was purchased by the Mount Vernon Ladies Association, preserved, and opened
                     to the public.
                  </p>
      <p class="source">From the description of Papers and printed ephemera, 1780-1985. (Winterthur Library). WorldCat record id: 84666652</p>
    </div>
    <div class="biogHist">
      <p>Revolutionary War army commander and first president of the United States.</p>
      <p class="source">From the description of Commission, March 3, 1797. (Abraham Lincoln Presidential Library). WorldCat record id: 721962586</p>
    </div>
    <div class="biogHist">
      <p>Washington wrote this letter in the year following the end of his presidency.</p>
      <p class="source">From the description of Letter 1798. (Kentucky Historical Society). WorldCat record id: 28139158</p>
    </div>
    <div class="biogHist">
      <p>President U.S.</p>
      <p class="source">From the description of Autograph letters signed : Philadelphia, "To the Emperor of Germany", 1796 May 15. (Unknown). WorldCat
                     record id: 270995088
                  </p>
    </div>
    <div class="biogHist">
      <p>First Pres. of the U.S.A., General of the Continental Army, officer in the army of Great Britain, surveyor, farmer.</p>
      <p class="source">From the description of Letter, 1779 May 15. (Unknown). WorldCat record id: 122487959</p>
    </div>
    <div class="biogHist">
      <p>First President of the United States.</p>
      <p class="source">From the description of Letter, 1777 Jan. 23. (Temple University Libraries). WorldCat record id: 122489979</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of George Washington letter to Governor Moultrie, 1793 Aug. 28. (The South Carolina Historical Society).
                     WorldCat record id: 191823402
                  </p>
    </div>
    <div class="biogHist">
      <p>General of American army in Revolutionary War.</p>
      <p class="source">From the description of Letter : Headquarters, Newburgh, to Governor Clinton, 1782 May 10. (Unknown). WorldCat record id:
                     145410813
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of Letter to William Fauntleroy [manuscript], 1752 May 20. (University of Virginia). WorldCat record
                     id: 647867892
                  </p>
    </div>
    <div class="biogHist">
      <p>Commander of Continental forces during the Revolutionary War; first president of the United States.</p>
      <p class="source">From the description of Letter to Robert Morris [manuscript], 1777 March 2. (University of Virginia). WorldCat record id:
                     647867847
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Papers, 1784-1870, bulk 1784-1834, pertaining to the settlement of Washington's estate [manuscript].
                     (University of Virginia). WorldCat record id: 647825691
                  </p>
    </div>
    <div class="biogHist">
      <p>Commander-in-Chief of the Continental Army and first President of the United States.</p>
      <p class="source">From the description of Letter of George Washington [manuscript], 1777. (University of Virginia). WorldCat record id: 647853987</p>
    </div>
    <div class="biogHist">
      <p>Commander-in-chief of United States forces during the Revolutionary War; first president of the United States.</p>
      <p class="source">From the description of Papers of George Washington [manuscript], 1774-1780. (University of Virginia). WorldCat record id:
                     647862400
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of Letter from Hodge, Allen and Campbell, publishers [manuscript], 1789 July 16. (University of Virginia).
                     WorldCat record id: 647821037
                  </p>
    </div>
    <div class="biogHist">
      <p>U.S. president, U.S. Army officer, and patriot.</p>
      <p class="source">From the description of Valley Forge orderly book, 1778. (Unknown). WorldCat record id: 70981724</p>
    </div>
    <div class="biogHist">
      <p>First president of the U.S.; Revolutionary War general, of Virginia.</p>
      <p class="source">From the description of George Washington ALS, 1789 Nov. 02. (Portsmouth Athenaeum Library &amp; Museum). WorldCat record id:
                     70979571
                  </p>
    </div>
    <div class="biogHist">
      <p>U.S. President, U.S. Army officer, and patriot.</p>
      <p class="source">From the description of George Washington diary, 1762. (Unknown). WorldCat record id: 70981725</p>
    </div>
    <div class="biogHist">
      <p>U.S. president, U.S. Army officer, and patriot.</p>
      <p class="source">From the description of George Washington correspondence, 1748-1783. (Unknown). WorldCat record id: 70981720</p>
    </div>
    <div class="biogHist">
      <p>U.S. president, U.S. Army officer, and patriot.</p>
      <p class="source">From the description of George Washington account books, 1747-1799. (Unknown). WorldCat record id: 70981718</p>
    </div>
    <div class="biogHist">
      <p>After his operations at Trenton and Princeton, Washington established winter quarters at Morristown.</p>
      <p class="source">From the description of LS, 1777 March 1 : Head Quarters, Morristown, to George Baylor, Col. of a Regiment of Cavalry near
                     Fredericksburg. (Copley Press, J S Copley Library). WorldCat record id: 14054536
                  </p>
    </div>
    <div class="biogHist">
      <p>Washington was commissioned Commander in Chief on June 17, 1775.</p>
      <p class="source">From the description of LS, 1775 September 14 : Cambridge Head Quarters, to Colonel Benedict Arnold, Commander of the Detachment
                     against Quebeck. (Copley Press, J S Copley Library). WorldCat record id: 14054428
                  </p>
    </div>
    <div class="biogHist">
      <p>In April 1913, George D. Smith purchased 170 letters and manuscripts belonging to Grenville Kane (1854-1943), a New York banker,
                     yachtsman, and collector. Two years later Smith bought another group of Washington manuscripts from an unidentified collector.
                     Both collections ended up in the collection of Henry E. Huntington, one of the leading Washington collectors of his day. In
                     1918, when Huntington purchased William K. Bixby's Americana collection, he added a group of Washington's letters to Tobias
                     Lear. In 1923, The Huntington Library purchased a collection of Alexander McDougall's letters to Washington from A.S.W. Rosenbach,
                     and later a group of Martha Washington's letters was acquired from J. F. Meegan. Smaller lots were also purchased at various
                     sales by the Anderson Gallery, Maggs Bros, and other auction houses between 1920 and 1923.
                  </p>
      <p class="source">From the description of George Washington collection, 1749-1806, (bulk 1757-1799). (Huntington Library, Art Collections &amp;
                     Botanical Gardens). WorldCat record id: 705618797
                  </p>
    </div>
    <div class="biogHist">
      <p>George Washington (1732-1799) was the first president of the U.S.</p>
      <p class="source">From the description of George Washington papers, 1694-1932. (New York Public Library). WorldCat record id: 86164329</p>
    </div>
    <div class="biogHist">
      <p>George Washington, born February 22, 1732, was a central, critical figure in the founding of the United States and is commonly
                     considered the father of the U.S. He led America's Continental Army to victory over Britain in the American Revolutionary
                     War, and in 1789 was elected the first President of the United States of America. He served two four-year terms from 1789
                     to 1797, winning reelection in 1792. He died at his Virginia estate, Mount Vernon, in 1799.
                  </p>
      <p class="source">From the description of George Washington survey, of property northwest of Mount Vernon 1771 February 25. (Colonial Williamsburg
                     Foundation). WorldCat record id: 174052481
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of Letter, 1752 May 20. (University of Virginia). WorldCat record id: 34931273</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Papers, 1773-1795. (Unknown). WorldCat record id: 155524965</p>
    </div>
    <div class="biogHist">
      <p>Washington served as President of the U.S. Constitutional Convention in 1787.</p>
      <p class="source">From the description of ALS, 1788 July 21 : Mount Vernon, to Nathaniel Gorham. (Copley Press, J S Copley Library). WorldCat
                     record id: 14087118
                  </p>
    </div>
    <div class="biogHist">
      <p>Commander of the Contintal Army and first president of the United States, 1789-1797.</p>
      <p class="source">From the description of Papers, 1760-1927. (Duke University Library). WorldCat record id: 20460693</p>
    </div>
    <div class="biogHist">
      <p>Washington signed as President of the Society.</p>
      <p class="source">From the description of DS, 1784 May 5 : Philadelphia, Pennsylvania. Society of the Cincinnati. (Copley Press, J S Copley
                     Library). WorldCat record id: 14096616
                  </p>
    </div>
    <div class="biogHist">
      <p>Washington served as President of the U.S. Constitutional Convention in 1787.</p>
      <p class="source">From the description of ALS, 1788 August 31 : Mount Vernon, to Thomas Johnson. (Copley Press, J S Copley Library). WorldCat
                     record id: 14087035
                  </p>
    </div>
    <div class="biogHist">
      <p>In 1750, George Washington purchased over 450 acres of land along the North Form of the Bullskin Run, now located near Summit
                     Point, Jefferson County, W. Va. He then added over 1500 acres to the plantation. In 1769, he began leasing 200 acre tracts
                     of land to tenant farmers. The Bullskin plantation remained in Washington's possession until his death in 1799.
                  </p>
      <p class="source">From the description of Plan of the Tenements on the South Fork of  Bullskin, ca. 1772. (Huntington Library, Art Collections
                     &amp; Botanical Gardens). WorldCat record id: 708174551
                  </p>
    </div>
    <div class="biogHist">
      <p>Commander in Chief of American Armies.</p>
      <p class="source">From the description of Letter, 1776, August 12, New York City, to [Artemas] Ward. (New-York Historical Society Library).
                     WorldCat record id: 476437829
                  </p>
    </div>
    <div class="biogHist">
      <p>Planter, soldier, and 1st president of the United States.</p>
      <p class="source">From the description of George Washington letter to Maj. Gen. Ward, 1776 Mar. 2. (New London County Historical Society). WorldCat
                     record id: 316043598
                  </p>
    </div>
    <div class="biogHist">
      <p>Organization founded in 1783, membership was restricted to American and French officers in the Revolutionary War. Named for
                     the Roman general Lucius Quintus Cincinnatus. The object was to perpetuate friendship of members, preserve liberty, and assist
                     members and their families requiring aid.
                  </p>
      <p class="source">From the description of Membership diploma of Society of the Cincinnati, [ca. 1795]. (Washington State University). WorldCat
                     record id: 29852595
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States and benefactor of Washington Academy (formerly Liberty Hall Academy) in Lexington, Virginia.</p>
      <p class="source">From the description of Papers, 1775-1798. (Washington &amp; Lee University). WorldCat record id: 567359388</p>
    </div>
    <div class="biogHist">
      <p>Revolutionary War army commander and first president of the United States.</p>
      <p class="source">From the description of Letters, 1776-1797. (Abraham Lincoln Presidential Library). WorldCat record id: 469775269</p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of [Survey] Mathias Elmore's plat for 400 acres, 1751 Apr. 20 / G[eorge] Washington. (Knox College).
                     WorldCat record id: 7531011
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph notes from an unidentified book on agriculture : [n.p., n.d.]. (Unknown). WorldCat record
                     id: 270660057
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Thomas [Robert Treat] Paine, 1795 Sept. 7. (Unknown). WorldCat
                     record id: 270659949
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Copy of a letter : New York, to the Marquis de Lafayette, 1790 June 3. (Unknown). WorldCat record
                     id: 270659868
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Robert Hanson Harrison] signed : Head Quarters, Valley Forge, to Colonel
                     Charles Lewis, 1778 Mar. 21. (Unknown). WorldCat record id: 270659896
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Richard Kidder Meade] signed : [Valley Forge], to [Brigadiers and Officers
                     commanding Brigades], 1778 Mar. 19. (Unknown). WorldCat record id: 270659765
                  </p>
    </div>
    <div class="biogHist">
      <p>Washington, first President of the United States (1789-1797).</p>
      <p class="source">From the description of [Letter and autograph] / G. Washington. (Smith College). WorldCat record id: 289545926</p>
    </div>
    <div class="biogHist">
      <p>Commander of the Continental Army and first president of the United States, 1789-1797.</p>
      <p class="source">From the description of Papers, 1775-1939. (Duke University Library). WorldCat record id: 41546368</p>
    </div>
    <div class="biogHist">
      <p>United States president. In 1789 George Washington offered Thomas Pinckney a federal judgeship, which he declined. In 1791
                     Washington nominated Pinckney as Minister to Great Britain; the nomination was confirmed in 1792.
                  </p>
      <p class="source">From the description of Letters to Thomas Pinckney, 1789-1792. (The South Carolina Historical Society). WorldCat record id:
                     32140209
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Printed document filled out and with the signature of Washington : Head Quarters, 1783 June 7. (Unknown).
                     WorldCat record id: 270660084
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Captain Richard Conway, 1789 Mar. 4. (Unknown). WorldCat
                     record id: 270659777
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to James Madison, 1792 May 20. (Unknown). WorldCat record
                     id: 270659917
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Newburgh, to Marinus Willett, 1782 Dec. 18. (Unknown). WorldCat record id:
                     270660039
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter signed : Philadelphia, to M. de Barth, 1793 Apr. 30. (Unknown). WorldCat record id: 270659759</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Newburgh, to Daniel Parker, 1783 Apr. 6. (Unknown). WorldCat record id:
                     270659955
                  </p>
    </div>
    <div class="biogHist">
      <p>President in the United States.</p>
      <p class="source">From the description of Letter signed : Mount Vernon, to General Greene, 1781 Nov. 16. (Unknown). WorldCat record id: 270659830</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter signed : Philadelphia, to Abraham Skinner, 1781 Dec. 5. (Unknown). WorldCat record id: 270660002</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letters and documents signed, 1755-1796. (Unknown). WorldCat record id: 270659749</p>
    </div>
    <div class="biogHist">
      <p>President U.S.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to John Paul Jones, 1785 Nov. 25. (Unknown). WorldCat record
                     id: 270659843
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to John W. Bronaugh, 1796 Aug. 28. (Unknown). WorldCat record
                     id: 270659770
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Ticket for the Mountain Road Lottery signed and clipped signature, [1768]. (Unknown). WorldCat record
                     id: 270660086
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Thomas Jefferson, 1793 June 23. (Unknown). WorldCat record
                     id: 270659840
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to George Washington Lafayette (therein Boston), 1795 Nov.
                     22. (Unknown). WorldCat record id: 270659874
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Col. Bassett, 1763 July 5. (Unknown). WorldCat record id:
                     270659762
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to George Washington Lafayette, 1798 Dec. 25. (Unknown). WorldCat
                     record id: 270659860
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Fredericksburg, to Governor Dinwiddie, 1755 Oct. 8. (Unknown). WorldCat
                     record id: 270659794
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to George Deneale, Clerk of Fairfax County Court, 1799 Feb.
                     19. (Unknown). WorldCat record id: 270659788
                  </p>
    </div>
    <div class="biogHist">
      <p>President U.S.</p>
      <p class="source">From the description of Letter signed : "Head Quarters near York", to [General Greene], 1781 Oct. 24. (Unknown). WorldCat
                     record id: 270659826
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to The Secretary of State [Timothy Pickering], 1796 June 27.
                     (Unknown). WorldCat record id: 270659962
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : German Town, to Elizabeth Parke Custis, 1794 Sept. 14. (Unknown). WorldCat
                     record id: 270659781
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Thomas Law, 1796 Feb. 10. (Unknown). WorldCat record id:
                     270659883
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : "Camp at Cambridge," to Richard Henry Lee, 1775 Aug. 29. (Unknown). WorldCat
                     record id: 270659893
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed, press copy : [n.p., 1784?]. (Unknown). WorldCat record id: 270659752</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter signed : New Windsor, to Brigadier General Knox, 1779 July 12. (Unknown). WorldCat record id:
                     270659848
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Document (copy), 1797 Mar. 2. (Unknown). WorldCat record id: 270660083</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Tobias Lear, 1796 Mar. 30. (Unknown). WorldCat record id:
                     270659887
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph receipts in Washington's hand (2) signed by C. Campbell on bills in the latter's autograph:
                     [Williamsburg], 1770 June 23 and 1771 May 11. (Unknown). WorldCat record id: 270660067
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Plan of a line of march and order of battle submitted to General Forbes, with diagrams of a first
                     and a second plan : autograph manuscript signed : [Raystown, Pa], 1758 Oct. 8. (Unknown). WorldCat record id: 270660062
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Benjamin Walker?] signed : Head Quarters [Newburgh], to Marinus Willett,
                     1783 Mar. 5. (Unknown). WorldCat record id: 270660051
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Benjamin Walker] signed : Head Quarters [Newbugh], to Marinus Willett,
                     1783 Feb. 13. (Unknown). WorldCat record id: 270660048
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter signed : Head Quarters [Valley Forge], to Major General, Lord Stirling, 1777 Dec. 28. (Unknown).
                     WorldCat record id: 270660014
                  </p>
    </div>
    <div class="biogHist">
      <p>President U.S.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, "To His Majesty, the King of Prussia (Frederick William II)",
                     1794 Jan. 15. (Unknown). WorldCat record id: 270659802
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Elizabeth Parke Custis, 1796 Feb. 10. (Unknown). WorldCat
                     record id: 270659785
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Sir Edward Newenham, 1786 Mar. 30. (Unknown). WorldCat
                     record id: 270659936
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Instructions for an attack on Oswego : five autographletters signed : to Col. Marinus Willett, 1782-1783.
                     (Unknown). WorldCat record id: 270660034
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Tench Tilghman] signed : Head Quarters [Morristown], to Brigadier General
                     Henry Knox, 1780 Jan. 15. (Unknown). WorldCat record id: 270659852
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Tench Tilghman] : Fishkill, to Lord Stirling, 1778 Oct. 2. (Unknown).
                     WorldCat record id: 270660017
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Sir Edward Newenham, 1788 Aug. 29. (Unknown). WorldCat
                     record id: 270659943
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Newburgh, to Marinus Willett, 1783 Feb. 2. (Unknown). WorldCat record id:
                     270660045
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Col. David Humphreys, 1787 Jan. 23. (Unknown). WorldCat
                     record id: 270659837
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Mount Vernon, to Jacob Read, 1784 Aug. 11. (Unknown). WorldCat record id:
                     270659995
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter [in the autograph of Tench Tilghman] signed : Head Quarters Valley Forge, to [Brigadier General
                     William Smallwood], 1777 Dec. 29. (Unknown). WorldCat record id: 270660008
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letters signed (4) : Valley Forge and [White Plains], to Henry Laurens, President of the
                     Continental Congress, 1778 Jan. 31, Apr. 30, May 29, and Aug. 20. (Unknown). WorldCat record id: 270659878
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed (marked "duplicate") : to Thomas Pinckney, ambassador "at the Court of London",
                     1796 May 22. (Unknown). WorldCat record id: 270659807
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Anthony Whiting, the manager of his estates, 1792 Nov.
                     18. (Unknown). WorldCat record id: 270660028
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Philadelphia, to Mrs. Samuel Powel, 1798 Dec. 9. (Unknown). WorldCat record
                     id: 270659972
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of First draft of his first inaugural address, 1789. (Unknown). WorldCat record id: 270660054</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed : Newburgh, to Marinus Willett, 1783 Jan. 22. (Unknown). WorldCat record id:
                     270660042
                  </p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Autograph letter signed with initials (full signature cut out) : Mount Vernon, to the Marquis de Lafayette,
                     1798 Dec. 25. (Unknown). WorldCat record id: 270659857
                  </p>
    </div>
    <div class="biogHist">
      <p>Father of U.S.A. and etc.</p>
      <p class="source">From the description of Letters, 1784-1785. (Unknown). WorldCat record id: 122536855</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of George Washington financial papers, 1787-1790. (Unknown). WorldCat record id: 166428701</p>
    </div>
    <div class="biogHist">
      <p>Washington intended to submit a message, or address to Congress of great length (ca. 50 pages), which went into the political
                     situation of the United States in detail. For reasons unknown, this autograph document was suppressed and the comparatively
                     short address substituted in its place, Cf. Fitzpatrick.
                  </p>
      <p class="source">From the description of Message to the first Congress of the United States : manuscript, [1789]. (Peking University Library).
                     WorldCat record id: 54745244
                  </p>
    </div>
    <div class="biogHist">
      <p>First president of the United States.</p>
      <p class="source">From the description of Account books, 1757-1773. (Washington &amp; Lee University). WorldCat record id: 10963029</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of Letter, [ca. 1785 Nov. 23]. (Historical Society of Washington, Dc). WorldCat record id: 70961001</p>
    </div>
    <div class="biogHist">
      <p>Commander in chief of the Continental Army; U.S. president.</p>
      <p class="source">From the description of Letter, 1778 Apr. 14. (Unknown). WorldCat record id: 70974801</p>
    </div>
    <div class="biogHist">
      <p>Dr. Robert Wellford (1753-1823) emigrated to America from England in 1776 with the First Royal Grenadiers as a physician to
                     the British army during the American Revolution. After the battles of Brandywine and Germantown when George Washington found
                     out the wounded American prisoners were being badly treated, he complained to General Howe who put Dr. Wellford in charge.
                     Wellford befriended Col. John Spotswood, a prisoner and George Washington, and alienated British surgeons. Wellford resigned
                     from the British Army and, with letters of introduction from Washington, accompanied Spotswood to Fredericksburg. He married
                     Catherine Yates Thornton in 1781; two of their sons and five grandsons became physicians. Prospering in Fredericksburg, Wellford
                     also was appointed by Washington as Surgeon General during the 1794 Whiskey Rebellion.
                  </p>
      <p>William Fitzhugh (1741-1809) of Chatham, near Fredericksburg, was an agriculturist, horse breeder, and delegate to the Continental
                     Congress in 1779.
                  </p>
      <p class="source">From the description of Letters: 1778-1799. (Unknown). WorldCat record id: 122611619</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letter, 1790 Feb. 20. (Filson Historical Society, The). WorldCat record id: 49377443</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of George Washington account book, 1775-1783. (Maine Historical Society Library). WorldCat record id:
                     70978078
                  </p>
    </div>
    <div class="biogHist">
      <p>Commander and chief of the Continental Army during the American Revolution, 1775-1783, and first president of the United States,
                     1789-1797.
                  </p>
      <p class="source">From the description of Letter, 18 October 1782. (Unknown). WorldCat record id: 122611525</p>
    </div>
    <div class="biogHist">
      <p>U.S. president.</p>
      <p class="source">From the description of Letter, 1776 July 7. (Maine Historical Society Library). WorldCat record id: 79371910</p>
    </div>
    <div class="biogHist">
      <p>President of the United States.</p>
      <p class="source">From the description of Letters, 1774, 1777. (Unknown). WorldCat record id: 122652561</p>
    </div>
    <div class="biogHist">
      <p>First President of the United States.</p>
      <p class="source">From the description of George and Martha Washington papers, 1750-1802. (New York University, Group Batchload). WorldCat record
                     id: 58782001
                  </p>
    </div>
    <div class="biogHist">
      <p>A letter, dated December 10, 1799 from George Washington to James Anderson. This letter was written shortly before Washington's
                     death on December 14, 1799.
                  </p>
      <p class="source">From the description of George Washington letter, 1799. (Clemson University Libraries). WorldCat record id: 21056119</p>
    </div>
    <div class="biogHist">
      <p>Signed by Washington as Commander in Chief of the Armies of the United States.</p>
      <p class="source">From the description of Revolutionary War discharge document, signed by George Washington, 1782 Nov. 3. (Unknown). WorldCat
                     record id: 754864237
                  </p>
    </div>
  </div>
