<div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8tjd">Abigail Adams Smith Museum.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8tjd">Abigail Adams Smith Museum.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6rr887q">Adelphi University. Library. Special Collections.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6xm4rdd">Adriance Memorial Library (Poughkeepsie, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6s23cjh">American Horticultural Society.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6423d2r">Ames Manufacturing Company. Bronze Foundry.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67h6qbm">Archives at Queens Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61g64q9">Art Wall Paper Mills (Chicago, Ill.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6548p02">Birth Day Union (New York, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vf23c0">Boston (Mass.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vq8qrd">Boulder Daily Camera.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6c03bb0">Brashear Settlement (Southside (Pittsburgh, Pa.))</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6dr85t0">Brooklyn Historical Society.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6993d4m">Butler-Gunsaulus Collection (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6907dgh">Cherokee Nation.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6md4kx6">Chicago (Ill.). Committee on Centennial Celebration of Washington's Inauguration, 1789.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69s71hb">Christ Church, Alexandria</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6c30cxx">Clemson University. Office of the President.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6576qfk">College of Arms (Great Britain)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tv05bf">Committee on the Centennial Celebration of the Inauguration of George Washington as President of the United States. Committee
                        on Entertainment.
                     </a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6ht86qp">Concord (Mass.). Selectmen.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69h0xs8">Connecticut Historical Society.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61p3h0c">Connecticut. Governor (1769-1784 : Trumbull).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nw4p65">Dartmouth College</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68m2fjt">Dartmouth College. Trustees.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63r6281">Darwin R. Barker Library (Fredonia, N.Y.). Historical Museum.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66t7jkv">Daughters of the American Revolution. Bucks County Chapter (Doylestown, Pa.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6xq2k7c">Daughters of the American Revolution. Hendrick Hudson Chapter (Hudson, N.Y.).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w62r9vpr">Dismal Swamp Land Company.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w62r9vpr">Dismal Swamp Land Company.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qg4980">Dodd &amp; Livingston.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6799btd">Douglas Cockerell &amp; Son (Firm),</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63f9txp">Edward E. Ayer Manuscript Collection (Newberry Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6714xg9">Edwards Brothers, inc., Ann Arbor, Mich.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63v64nt">Fairfax County (Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jb1qt2">Federal Party (Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63z3ftp">Flahavan &amp; Willcox.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6m09kkg">Fort Ticonderoga, Museum, (N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6sr4dg9">Fraunces Tavern Museum.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6v74v0v">Freemasons. Alexandria-Washington Lodge, No. 22 (Alexandria, Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6n365v9">Freemasons. Feliciana Lodge No. 31 (Saint. Francisville, La.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w65v0502">Freemasons. Frederick Lodge No. 14. (Plainville, Conn.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6np7t7b">George Washington Bicentennial Commission (Wayne County, Ind.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6z96b8m">George Washington Bicentennial Committee (Cleveland, Ohio)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gv11w7">George Washington Memorial Association.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63251kc">Great Britain. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6rz6kmp">Great Britain. Army. Virginia Regiment.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6h18zk2">Hebrew Congregation (Newport, R.I.),</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6548zjj">Historic Hudson Valley (Tarrytown, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67t2tng">Historical Society of Pennsylvania.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6z66s0c">Hodge, Allen, and Campbell.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6mh40ht">Huguenot-Thomas Paine Historical Association (New Rochelle, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68q36bn">John Donnelly &amp; Co.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nh0wck">King David's Lodge (Newport, R.I.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6937vmq">Lewis, Fielding, 1725-1782.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6450rct">Library of Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gz0sdq">Maryland Heritage Committee.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kq36tq">Maryland. General Assembly.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6h47mcw">Massachusetts. Governor(1797-1799:Sumner)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6sv2v7t">Massachusetts. Office of the Secretary of State.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tn2kjs">Massachusetts. Quartermaster General's Dept.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6rg255j">Mills, Ogden Livingston, 1884-1937.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6n06d2v">Moravian Church.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6wh8nrt">Morristown National Historical Park (Agency : U.S.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jf08vs">Mount Vernon Association for Tennessee.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64b886j">Mount Vernon Ladies' Association of the Union.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61s1wp5">Museum of the City of New York.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86xz3">National League of American Pen Women. D.C. Chapter.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61w11q9">National Society of the Colonial Dames of America in the State of Illinois.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nw4pmj">New Jersey. Governor (1776-1790 : Livingston)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6p89md1">New York (N.Y.). Chamber of Commerce.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60p65zm">New York (N.Y.). Common Council.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60p65zm">New York (N.Y.). Common Council.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6dc3nc8">New York (N.Y.). Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69p8hmt">New York (N.Y.). Office of the Mayor (1978-1989 : Koch). N.Y.C. Commission on the Bicentennial.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tb6tzg">New York (State). Governor (1777-1795 : Clinton)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6fv3sqj">New York (State). Governor.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qv8s3v">New York (State). Militia</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qv8s3v">New York (State). Militia.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6ps3b41">New York (State). Provincial Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69w5vnb">New York Society Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6s248z1">New York State Library. Manuscripts and Special Collections Unit.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6bk7f18">New York. Governor (1777-1795 : Clinton).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6z94hbt">Newberry Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nd1bh3">North American Land Company.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63543dm">Old Fort Harrod State Park. Mansion Museum.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6sn6hg8">Order of United Americans.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6k412vw">Oysterponds Historical Society (Orient, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6wb0hrd">Parke-Bernet Galleries.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kx1966">Patriotic Order Sons of America.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6r83kq0">Pennsylvania. Militia</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6r83kq0">Pennsylvania. Militia.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6zd3fm7">Pennsylvania. Militia. Light Horse of the City of Philadelphia.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qz99hv">Pennsylvania. Valley Forge Park Commission.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kh6ddw">Petersham (Mass.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6103fq2">Philadelphia Assembly.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86snd">Phillips Academy.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64r4fcg">Pierpont Morgan Library. Glazier Collection.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nh086w">Potomac Canal Company.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt4vqb">Potomac Company</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt4vqb">Potomac Company</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt4vqb">Potomac Company</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt4vqb">Potomac Company.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61s1zts">Putnam County Historical Society (N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6m66qnz">Reuben T. Durrett Collection on Kentucky and the Ohio River Valley (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6m66qnz">Reuben T. Durrett Collection on Kentucky and the Ohio River Valley (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6m66qnz">Reuben T. Durrett Collection on Kentucky and the Ohio River Valley (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6m66qnz">Reuben T. Durrett Collection on Kentucky and the Ohio River Valley (University of Chicago. Library)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64510vc">Revolutionary Memorial Society of New Jersey.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6b333sn">Rhode Island College (1764-1804).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6dk1kzc">Robert Cary and Co.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6pg8h03">Saint Paul (Minn.). George Washington Bi-Centennial Committee.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt59b5">Seeley G. Mudd Manuscript Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6sj8cj7">Severn, Hannah.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6ff98x5">Shirley Plantation (Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6c316bm">Smithtown Library. Richard H. Handley Long Island History Room.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6md4b3j">Society of the Cincinnati in the State of Georgia.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61k4j8q">Society of the Cincinnati.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w61p35nr">Sons of the American Revolution. Virginia Society. Thomas Jefferson Chapter (Charlottesville, Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tn3n35">Southold Free Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6h75n0n">St. John's College (Annapolis, Md.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60w4mb7">Stony Brook University. University Libraries. Special Collections and University Archives.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60w4mb7">Stony Brook University. University Libraries. Special Collections and University Archives.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gf7s4m">Sweden. Kungliga Biblioteket.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6wt40cm">Transylvania University.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60w49hr">Trouro Synagogue (Newport, R.I.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66t5xts">Trumbull College (Yale University)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66t5xts">Trumbull College (Yale University)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kh5v0h">Truro Parish (Fairfax County, Va.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kh5v0h">Truro Parish (Fairfax County, Va.).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66744ns">Tucker family.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jj0dwx">Two Brothers (Schooner : 1794)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67x1h8g">United States Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vb3d4x">United States Military Academy</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6j43xgr">United States. Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6hx7c00">United States. Army. Lamb's Artillery.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6wt46zq">United States. Commissioners of the City of Washington.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6wt46zq">United States. Commissioners of the City of Washington.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67x1h8g">United States. Congress</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67x2qd4">United States. Congress (2nd, 1st session : 1791)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67x1h8g">United States. Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w67x1h8g">United States. Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w610297r">United States. Constitution.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w610297r">United States. Constitutional Convention (1787)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68w8jg6">United States. Continental Army.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w63z3zx7">United States. Continental Army. Massachusetts Regiment, Fourth.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vj12h1">United States. Continental Army. New Jersey Brigade.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60d088v">United States. Continental Army. New Jersey Regiment, First (1777-1783)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6p89scn">United States. Continental Army. New York Regiment, First.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w60344m3">United States. Continental Army. North Carolina Battalion, 6th.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kh5zfk">United States. Continental Army. Pennsylvania Regiment, 7th.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6dr84tk">United States. Continental Army. Regiment, Henry Jackson's Additional</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress,</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6gn3c7j">United States. Continental Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qc5k02">United States. Continental Congress. Board of War and Ordnance.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6b33vk2">United States. Contintental Congress</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64j5k66">United States. Dept. of State.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64j5k66">United States. Dept. of State.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w64j5k66">United States. Dept. of State.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vm9hcb">United States. Dept. of the Treasury.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6kt3j04">United States. Library of Congress.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w65j2mgc">United States. National Park Service.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vt6zd3">United States. President</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jh8vxf">United States. President (1789-1797 : Washington)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vt6zd3">United States. President.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6r83mm2">United States. Work Projects Administration. Pennsylvania.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69k9gk9">University of Chicago. Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69k9gk9">University of Chicago. Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69k9gk9">University of Chicago. Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w69k9gk9">University of Chicago. Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6sn6bj3">University of Pennsylvania. University Relations. News and Public Affairs.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66166kd">University of Virginia. Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6713bk7">University of Virginia. News Information Services.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w610290m">Virginia. Auditor of Public Accounts (1776-1928)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6cc677b">Virginia. General Assembly.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6102c5p">Virginia. General Assembly. House of Burgesses.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w65j3j13">Virginia. George Washington Bicentennial Commission.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w65f42qm">Virginia. Governor (1791-1794 : Lee)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w65f42qm">Virginia. Governor (1791-1794 : Lee)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6hj2bnd">Virginia. Governor's Office.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6nk8kfg">Virginia. Land Office</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jt4xcp">Virginia. Land Office. Register.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6pk61xp">Virginia. Lieutenant Governor (1751-1758 : Dinwiddie)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w66x4htg">Virginia. Treasurer's Office.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6xm402t">Viterbo University.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w68x0gzz">Waddell, Richard Eugene, 1943-</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6jm7ww2">Wakefield National Memorial Association.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tj3x03">Washington Academy (Lexington, Va.).</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6tj3x03">Washington Academy.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6qg60sr">Washington Arch Committee. Statuary Fund.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w606306q">Washington Beneficial Society.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6103jrr">Washington Benevolent Society (Franklin County, Mass.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6035sbr">Washington Benevolent Society of New Hampshire.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6r83xg0">Washington College (Chestertown, Md.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6vb3kgg">Washington County (N.Y.). Historian.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6rv6sdf">Washington Monument Association (New York, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6rv6sdf">Washington Monument Association (New York, N.Y.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6bc9hw0">Washington National Monument Association.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6t492wj">Washington National Monument Society.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6616x7m">Washington's Birthday Celebration Commission.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q294gc">Whig Party (U.S.)</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
                  <div class="corporateBody">
                     <a href="/xtf/view?docId=ark:/99166/w6q86m2q">William L. Clements Library.</a>
                     <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#associatedWith</span>
                  </div>
               </div>
