<div>
                  <div class="related">
                     <div class="arcrole">http://socialarchive.iath.virginia.edu/control/term#sameAs</div>
                     <a href="http://viaf.org/viaf/31432428">http://viaf.org/viaf/31432428</a>
                  </div>
                  <div class="related">
                     <div class="arcrole">http://socialarchive.iath.virginia.edu/control/term#sameAs</div>
                     <a href="http://en.wikipedia.org/wiki/George_Washington">http://en.wikipedia.org/wiki/George_Washington</a>
                  </div>
                  <div class="related">
                     <div class="arcrole">http://socialarchive.iath.virginia.edu/control/term#sameAs</div>
                     <a href="http://www.worldcat.org/wcidentities/lccn-n86-140996">http://www.worldcat.org/wcidentities/lccn-n86-140996</a>
                  </div>
                  <div class="related">
                     <div class="arcrole">http://socialarchive.iath.virginia.edu/control/term#sameAs</div>
                     <a href="http://id.loc.gov/authorities/names/n86140996">http://id.loc.gov/authorities/names/n86140996</a>
                  </div>
               </div>
