<div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%26quot%3BMy%20friend%20La%20Fayette%26quot%3B%2C%20%26quot%3BMon%20ami%20Washington%26quot%3B+au:Washington%2C%20George%2C%201732-1799.">&amp;quot;My friend La Fayette&amp;quot;, &amp;quot;Mon ami Washington&amp;quot;
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:3%20Messages%20from%20the%20President%20of%20the%20United%20States+au:Washington%2C%20George%2C%201732-1799.">3 Messages from the President of the United States
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:A%20plan%20of%20Alexandria%2C%20now%20Belhaven.+au:Washington%2C%20George%2C%201732-1799.">A plan of Alexandria, now Belhaven.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20for%20the%20relief%20of%20Peter%20Covenhoven+au:Washington%2C%20George%2C%201732-1799.">Act for the relief of Peter Covenhoven
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20providing%20for%20the%20payment%20of%20certain%20instalments%20of%20foreign%20debts+au:Washington%2C%20George%2C%201732-1799.">Act providing for the payment of certain instalments of foreign debts
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20supplementary%20to%20the%20act%2C%20intituled%20An%20act%20establishing%20a%20mint%2C%20and%20regulating%20the%20coins%20of%20the%20United%20States+au:Washington%2C%20George%2C%201732-1799.">Act supplementary to the act, intituled An act establishing a mint, and regulating the coins of the United States
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20to%20amend%20the%20act%2C%20entitled%2C%20An%20act%20to%20establish%20the%20post-office%20and%20post-roads%20within%20the%20United%20States+au:Washington%2C%20George%2C%201732-1799.">Act to amend the act, entitled, An act to establish the post-office and post-roads within the United States
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20to%20establish%20the%20office%20of%20Purveyor%20of%20public%20supplies+au:Washington%2C%20George%2C%201732-1799.">Act to establish the office of Purveyor of public supplies
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Act%20to%20provide%20some%20present%20relief%20to%20the%20officers%20of%20government%20and%20other%20citizens%20who%20have%20suffered%20in%20their%20property%20by%20the%20insurgents%20in%20the%20western%20counties%20of%20Pennsylvania+au:Washington%2C%20George%2C%201732-1799.">Act to provide some present relief to the officers of government and other citizens who have suffered in their property by
                        the insurgents in the western counties of Pennsylvania
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Address%20of%20George%20Washington%2C%20president%20of%20the%20United%20States%2C%20to%20his%20fellow%20citizens%20on%20declining%20being%20considered%20a%20candidate%20for%20their%20future%20suffrages+au:Washington%2C%20George%2C%201732-1799.">Address of George Washington, president of the United States, to his fellow citizens on declining being considered a candidate
                        for their future suffrages
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Conside%CC%81rations%20sur%20l%27ordre%20de%20Cincinnatus%2C%20%3A%20ou%20Imitation%20d%27un%20pamphlet%20Anglo-Americain.+au:Washington%2C%20George%2C%201732-1799.">Considérations sur l'ordre de Cincinnatus, : ou Imitation d'un pamphlet Anglo-Americain.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Correspondence%20of%20General%20Washington%20and%20Comte%20de%20Grasse%2C%201781%2C%20August%2017-November%204%20%3A%20with%20supplementary%20documents%20from%20the%20Washington%20papers%20in%20the%20Manuscripts%20division%20of%20the%20Library%20of%20Congress+au:Washington%2C%20George%2C%201732-1799.">Correspondence of General Washington and Comte de Grasse, 1781, August 17-November 4 : with supplementary documents from the
                        Washington papers in the Manuscripts division of the Library of Congress
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Correspondence.+au:Washington%2C%20George%2C%201732-1799.">Correspondence.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:David%20Humphreys%27%20%26quot%3BLife%20of%20General%20Washington%26quot%3B%2C%20with%20George%20Washington%27s%20%26quot%3BRemarks%26quot%3B+au:Washington%2C%20George%2C%201732-1799.">David Humphreys' &amp;quot;Life of General Washington&amp;quot;, with George Washington's &amp;quot;Remarks&amp;quot;
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Early%20American%20views%20on%20Negro%20slavery%2C%20from%20the%20letters%20and%20papers%20of%20the%20founders%20of%20the%20Republic+au:Washington%2C%20George%2C%201732-1799.">Early American views on Negro slavery, from the letters and papers of the founders of the Republic
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Farewell%20address+au:Washington%2C%20George%2C%201732-1799.">Farewell address
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Farewell%20address%20to%20the%20people%20of%20the%20United%20States+au:Washington%2C%20George%2C%201732-1799.">Farewell address to the people of the United States
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:General%20Washington%27s%20correspondence%20concerning%20the%20Society%20of%20the%20Cincinnati+au:Washington%2C%20George%2C%201732-1799.">General Washington's correspondence concerning the Society of the Cincinnati
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington+au:Washington%2C%20George%2C%201732-1799.">George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%20%3A%20a%20biography%20in%20his%20own%20words+au:Washington%2C%20George%2C%201732-1799.">George Washington : a biography in his own words
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%20correspondence+au:Washington%2C%20George%2C%201732-1799.">George Washington correspondence
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%20diary+au:Washington%2C%20George%2C%201732-1799.">George Washington diary
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%20remembers%20%3A%20reflections%20on%20the%20French%20and%20Indian%20War+au:Washington%2C%20George%2C%201732-1799.">George Washington remembers : reflections on the French and Indian War
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%27s%20Rules%20of%20civility%20%3A%20complete%20with%20the%20original%20French%20text%20and%20new%20French-to-English%20translations+au:Washington%2C%20George%2C%201732-1799.">George Washington's Rules of civility : complete with the original French text and new French-to-English translations
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:George%20Washington%27s%20expense%20account+au:Washington%2C%20George%2C%201732-1799.">George Washington's expense account
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Last%20will%20and%20testament%20of%20George%20Washington%2C%20of%20Mount%20Vernon%20%3A%20the%20only%20authenticated%20copy%2C%20full%20and%20complete%2C%20embracing%20a%20schedule%20of%20his%20real%20estate%2C%20and%20explanatory%20notes%20thereto%20by%20the%20testator%3B%20to%20which%20is%20added%20important%20historical%20notes%2C%20biographical%20sketches%2C%20and%20anecdotes%20...+au:Washington%2C%20George%2C%201732-1799.">Last will and testament of George Washington, of Mount Vernon : the only authenticated copy, full and complete, embracing
                        a schedule of his real estate, and explanatory notes thereto by the testator; to which is added important historical notes,
                        biographical sketches, and anecdotes ...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Leben%20und%20Briefwechsel%20Georg%20Washingtons+au:Washington%2C%20George%2C%201732-1799.">Leben und Briefwechsel Georg Washingtons
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Letters%20from%20His%20Excellency%20George%20Washington%2C%20president%20of%20the%20United%20States%20of%20America%2C%20to%20Sir%20John%20Sinclair%2C%20bart.%20M.P.%20on%20agricultural%20and%20other%20interesting%20topics+au:Washington%2C%20George%2C%201732-1799.">Letters from His Excellency George Washington, president of the United States of America, to Sir John Sinclair, bart. M.P.
                        on agricultural and other interesting topics
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Letters%20from%20his%20excellency%20George%20Washington%2C...%20to%20Sir%20John%20Sinclair%2C...%20on%20agricultural%20and%20other%20interesting%20topics%2C%20engraved%20from%20the%20original%20letters%2C%20so%20as%20to%20be%20an%20exact%20facsimile%20of%20the%20hand%20writing%20of%20that%20celebrated%20character+au:Washington%2C%20George%2C%201732-1799.">Letters from his excellency George Washington,... to Sir John Sinclair,... on agricultural and other interesting topics, engraved
                        from the original letters, so as to be an exact facsimile of the hand writing of that celebrated character
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Letters%20on%20Agriculture+au:Washington%2C%20George%2C%201732-1799.">Letters on Agriculture
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Letters%20to%20Washington%2C%20and%20accompanying%20papers%20%3A%20published%20by%20the%20Society%20of%20the%20Colonial%20Dames%20of%20America+au:Washington%2C%20George%2C%201732-1799.">Letters to Washington, and accompanying papers : published by the Society of the Colonial Dames of America
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Major%20Georg%20Washingtons%20Tagebuch%20%3A%20Wie%20er%20von%20Robert%20Dinwiddie...%20an%20den%20Befehlshaber%20der%20franzo%CC%88sischen%20Truppen%20am%20Ohio%20geschickt%20ward...%20Aus%20dem%20Englischen.+au:Washington%2C%20George%2C%201732-1799.">Major Georg Washingtons Tagebuch : Wie er von Robert Dinwiddie... an den Befehlshaber der französischen Truppen am Ohio geschickt
                        ward... Aus dem Englischen.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Maxims%20of%20Washington%20%3A%20political%2C%20social%2C%20moral%2C%20and%20religious+au:Washington%2C%20George%2C%201732-1799.">Maxims of Washington : political, social, moral, and religious
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Monuments%20of%20Washington%27s%20patriotism%20%3A%20containing%20a%20fac%20simile%20of%20his%20publick%20accounts.+au:Washington%2C%20George%2C%201732-1799.">Monuments of Washington's patriotism : containing a fac simile of his publick accounts.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:November%201%2C%201798-December%2013%2C%201799+au:Washington%2C%20George%2C%201732-1799.">November 1, 1798-December 13, 1799
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Official%20letters%20to%20the%20Honorable%20american%20congress%20written%2C%20during%20the%20war%20between%20the%20United%20Colonies%20and%20Great%20Britain+au:Washington%2C%20George%2C%201732-1799.">Official letters to the Honorable american congress written, during the war between the United Colonies and Great Britain
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Official%20letters%20to%20the%20Honourable%20American%20Congress%20%3A%20written%20during%20the%20war%20between%20the%20united%20colonies%20and%20Great%20Britain+au:Washington%2C%20George%2C%201732-1799.">Official letters to the Honourable American Congress : written during the war between the united colonies and Great Britain
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Official%20letters%20to%20the%20honorable%20American%20Congress%20%3A%20written%2C%20during%20the%20war%20between%20the%20United%20Colonies%20and%20Great%20Britain+au:Washington%2C%20George%2C%201732-1799.">Official letters to the honorable American Congress : written, during the war between the United Colonies and Great Britain
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Official%20letters%20to%20the%20honourable%20American%20Congress%20written%20during%20the%20war%20between%20the%20United%20colonies%20and%20Great%20Britain%20by%20his%20excellency%20George%20Washington%2C%20commander%20in%20chief%20of%20the%20continental%20forces%2C%20now%20President%20of%20the%20United%20States...+au:Washington%2C%20George%2C%201732-1799.">Official letters to the honourable American Congress written during the war between the United colonies and Great Britain
                        by his excellency George Washington, commander in chief of the continental forces, now President of the United States...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Plan%20of%20the%20attacks%20of%20York%20in%20Virginia%20by%20the%20allied%20armies%20of%20America%20and%20France+au:Washington%2C%20George%2C%201732-1799.">Plan of the attacks of York in Virginia by the allied armies of America and France
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Records%20of%20the%20revolutionary%20war%3A%20containing%20the%20military%20and%20financial%20correspondence%20of%20distinguished%20officers%3B%20names%20of%20the%20officers%20and%20privates%20of%20regiments%2C%20companies%2C%20and%20corps%2C%20with%20the%20dates%20of%20their%20commissions%20and%20enlistments%3A%20general%20orders%20of%20Washington%2C%20Lee%2C%20and%20Greene%2C%20at%20Germantown%20and%20Valley%20Forge%3B+au:Washington%2C%20George%2C%201732-1799.">Records of the revolutionary war: containing the military and financial correspondence of distinguished officers; names of
                        the officers and privates of regiments, companies, and corps, with the dates of their commissions and enlistments: general
                        orders of Washington, Lee, and Greene, at Germantown and Valley Forge;
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Retirement%20series+au:Washington%2C%20George%2C%201732-1799.">Retirement series
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Rules%20of%20civility+au:Washington%2C%20George%2C%201732-1799.">Rules of civility
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Rules%20of%20civility%20%3A%20the%20110%20precepts%20that%20guided%20our%20first%20president%20in%20war%20and%20peace+au:Washington%2C%20George%2C%201732-1799.">Rules of civility : the 110 precepts that guided our first president in war and peace
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Rules%20of%20civility%20and%20decent%20...+au:Washington%2C%20George%2C%201732-1799.">Rules of civility and decent ...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Rules%20of%20conduct%2C%20diary%20of%20adventure%2C%20letters%2C%20and%20farewell%20addresses+au:Washington%2C%20George%2C%201732-1799.">Rules of conduct, diary of adventure, letters, and farewell addresses
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Selections+au:Washington%2C%20George%2C%201732-1799.">Selections
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Selections%20from%20the%20correspondence%20of%20General%20Washington%20and%20James%20Anderson%20...%20in%20which%20the%20causes%20of%20the%20present%20scarcity%20are%20fully%20investigated.+au:Washington%2C%20George%2C%201732-1799.">Selections from the correspondence of General Washington and James Anderson ... in which the causes of the present scarcity
                        are fully investigated.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Se%CC%81ance%20loyale%20et%20nationale%2C%20tenue%20bien%20loin%20de%20chez%20nous%20%3A%20Discours%20prononce%CC%81%20par%20Georges%20Washington%2C%20Pre%CC%81sident-Ge%CC%81ne%CC%81ral%20des%20E%CC%81tats-Unis%20d%27Ame%CC%81rique%20aux%20deux%20Chambres%20du%20Congre%CC%80s%2C%20assemble%CC%81es%20a%CC%80%20New%20York%20le%2030%20avril%201789+au:Washington%2C%20George%2C%201732-1799.">Séance loyale et nationale, tenue bien loin de chez nous : Discours prononcé par Georges Washington, Président-Général
                        des États-Unis d'Amérique aux deux Chambres du Congrès, assemblées à New York le 30 avril 1789
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Speeches%20and%20letters%20of%20George%20Washington.+au:Washington%2C%20George%2C%201732-1799.">Speeches and letters of George Washington.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20Journal%20of%20the%20proceedings%20of%20the%20President%2C%201793-1797+au:Washington%2C%20George%2C%201732-1799.">The Journal of the proceedings of the President, 1793-1797
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20Washington%20papers%20%3A%20basic%20selections%20from%20the%20public%20and%20private%20writings%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">The Washington papers : basic selections from the public and private writings of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20basic%20writings%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">The basic writings of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20diaries%20of%20George%20Washington%2C%201748-1799+au:Washington%2C%20George%2C%201732-1799.">The diaries of George Washington, 1748-1799
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20diary%20of%20George%20Washington%2C%20from%201789%20to%201791%20%3A%20embracing%20the%20opening%20of%20the%20first%20Congress%2C%20and%20his%20tours%20through%20New%20England%2C%20Long%20Island%2C%20and%20the%20Southern%20States%20%3A%20together%20with%20his%20Journal%20of%20a%20tour%20to%20the%20Ohio%2C%20in%201753+au:Washington%2C%20George%2C%201732-1799.">The diary of George Washington, from 1789 to 1791 : embracing the opening of the first Congress, and his tours through New
                        England, Long Island, and the Southern States : together with his Journal of a tour to the Ohio, in 1753
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20journal%20of%20Major%20George%20Washington%20%3A%20sent%20by%20the%20Hon.%20Robert%20Dinwiddie%2C%20Esq%3B%20His%20Majesty%27s%20Lieutenant-governor%2C%20and%20commander%20in%20chief%20of%20Virginia%2C%20to%20the%20commandant%20of%20the%20French%20forces%20on%20Ohio%20%3A%20To%20which%20are%20added%2C%20the%20governor%27s%20letter%20and%20a%20translation%20of%20the%20French%20officer%27s%20answer.%20With%20a%20new%20map%20of%20the%20country%20as%20far%20as%20the%20Mississippi.+au:Washington%2C%20George%2C%201732-1799.">The journal of Major George Washington : sent by the Hon. Robert Dinwiddie, Esq; His Majesty's Lieutenant-governor, and commander
                        in chief of Virginia, to the commandant of the French forces on Ohio : To which are added, the governor's letter and a translation
                        of the French officer's answer. With a new map of the country as far as the Mississippi.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20last%20will%20and%20testament%20of%20George%20Washington%20and%20schedule%20of%20his%20property%20%3A%20to%20which%20is%20appended%20the%20last%20will%20and%20testament%20of%20Martha%20Washington+au:Washington%2C%20George%2C%201732-1799.">The last will and testament of George Washington and schedule of his property : to which is appended the last will and testament
                        of Martha Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20letters%20of%20Lafayette%20to%20Washington%2C%201777-1799+au:Washington%2C%20George%2C%201732-1799.">The letters of Lafayette to Washington, 1777-1799
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20proceedings%20of%20the%20Executive%20of%20the%20United%20States%2C%20respecting%20the%20insurgents%2C%201794.+au:Washington%2C%20George%2C%201732-1799.">The proceedings of the Executive of the United States, respecting the insurgents, 1794.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20quotable%20George%20Washington%20%3A%20the%20wisdom%20of%20an%20American%20patriot+au:Washington%2C%20George%2C%201732-1799.">The quotable George Washington : the wisdom of an American patriot
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20will%20of%20General%20George%20Washington%3A%20to%20which%20is%20annexed%2C%20a%20schedule%20of%20his%20property%20directed%20to%20be%20sold.+au:Washington%2C%20George%2C%201732-1799.">The will of General George Washington: to which is annexed, a schedule of his property directed to be sold.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20will%20of%20Washington%20...+au:Washington%2C%20George%2C%201732-1799.">The will of Washington ...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20writings%20of%20George%20Washington%20%3A%20being%20his%20correspondence%2C%20addresses%2C%20messages%2C%20and%20other%20papers%2C%20official%20and%20private+au:Washington%2C%20George%2C%201732-1799.">The writings of George Washington : being his correspondence, addresses, messages, and other papers, official and private
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20writings%20of%20George%20Washington%20from%20the%20original%20manuscript%20sources%201745-1799%20%3A%20prepared%20under%20the%20direction%20of%20the%20United%20States%20George%20Washington%20Bicentennial%20Commission%20and%20published%20by%20authority%20of%20Congress+au:Washington%2C%20George%2C%201732-1799.">The writings of George Washington from the original manuscript sources 1745-1799 : prepared under the direction of the United
                        States George Washington Bicentennial Commission and published by authority of Congress
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20writings%20of%20George%20Washington%20from%20the%20original%20manuscript%20sources%2C%201745-1799+au:Washington%2C%20George%2C%201732-1799.">The writings of George Washington from the original manuscript sources, 1745-1799
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:The%20young%20George%20Washington%20and%20his%20papers+au:Washington%2C%20George%2C%201732-1799.">The young George Washington and his papers
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20to%20continue%20in%20force%20for%20a%20limited%20time%20the%20acts%20therein%20mentioned.%20...%20An%20act%20for%20the%20relief%20of%20Robert%20Barton%20and%20others.%20.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday the third of November, one thousand seven hundred and ninety-four. An act to continue in force for a limited time
                        the acts therein mentioned. ... An act for the relief of Robert Barton and others. .
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%2C%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20for%20the%20payment%20of%20certain%20instalments%20of%20foreign%20debts%3B%20and%20of%20the%20third%20instalment%20due%20on%20a%20loan%20made%20of%20the%20bank%20of%20the%20United%20States.%20.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday, the third of November, one thousand seven hundred and ninety-four. An act for the payment of certain instalments
                        of foreign debts; and of the third instalment due on a loan made of the bank of the United States. .
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%2C%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20making%20further%20provision%20in%20cases%20of%20drawbacks.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday, the third of November, one thousand seven hundred and ninety-four. An act making further provision in cases of
                        drawbacks.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%2C%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20to%20authorize%20the%20president%20to%20call%20out%20and%20station%20a%20corps%20of%20militia%2C%20in%20the%20four%20western%20counties%20of%20Pennsylvania%2C%20for%20a%20limited%20time.%20.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday, the third of November, one thousand seven hundred and ninety-four. An act to authorize the president to call out
                        and station a corps of militia, in the four western counties of Pennsylvania, for a limited time. .
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%2C%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20to%20provide%20some%20present%20relief%20to%20the%20officers%20of%20government%20and%20other%20citizens%20who%20have%20suffered%20in%20their%20property%20by%20the%20insurgents%20in%20the%20western%20counties%20of%20Pennsylvania.%20...%20An%20act%20for%20the%20relief%20of%20Angus%20M%27Lean.%20.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday, the third of November, one thousand seven hundred and ninety-four. An act to provide some present relief to the
                        officers of government and other citizens who have suffered in their property by the insurgents in the western counties of
                        Pennsylvania. ... An act for the relief of Angus M'Lean. .
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Third%20Congress%20of%20the%20United%20States%3A%20at%20the%20second%20session%20begun%20and%20held%20at%20the%20city%20of%20Philadelphia%2C%20in%20the%20state%20of%20Pennsylvania%2C%20on%20Monday%2C%20the%20third%20of%20November%2C%20one%20thousand%20seven%20hundred%20and%20ninety-four.%20An%20act%20to%20regulate%20the%20pay%20of%20the%20non-commissioned%20officers%2C%20musicians%20and%20privates%20of%20the%20militia%20of%20the%20United%20States%2C%20when%20called%20into%20actual%20service%2C%20and%20for%20other%20purposes.+au:Washington%2C%20George%2C%201732-1799.">Third Congress of the United States: at the second session begun and held at the city of Philadelphia, in the state of Pennsylvania,
                        on Monday, the third of November, one thousand seven hundred and ninety-four. An act to regulate the pay of the non-commissioned
                        officers, musicians and privates of the militia of the United States, when called into actual service, and for other purposes.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:This%20glorious%20struggle%20%3A%20George%20Washington%27s%20Revolutionary%20War%20letters+au:Washington%2C%20George%2C%201732-1799.">This glorious struggle : George Washington's Revolutionary War letters
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Thomas%20Jefferson%20and%20the%20national%20capital%20%3A%20containing%20notes%20and%20correspondence%20exchanged%20between%20Jefferson%2C%20G.%20Washington%20...%20and%20others%2C%20relating%20to%20the%20founding%20...%20of%20the%20city%20of%20Washington%2C%201783-1818+au:Washington%2C%20George%2C%201732-1799.">Thomas Jefferson and the national capital : containing notes and correspondence exchanged between Jefferson, G. Washington
                        ... and others, relating to the founding ... of the city of Washington, 1783-1818
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Thomas%20Jefferson%20and%20the%20national%20capital%2C%20containing%20notes%20and%20correspondence%20exchanged%20between%20Jefferson%2C%20Washington%2C%20L%27Enfant%2C%20Ellicott%2C%20Hallett%2C%20Thornton%2C%20Latrobe%20%3A%20the%20commissioners%2C%20and%20others%2C%20relating%20to%20the%20founding%2C%20surveying%2C%20planning%2C%20designing%2C%20constructing%2C%20and%20administering%20of%20the%20city%20of%20Washington%2C%201783-1818%20...+au:Washington%2C%20George%2C%201732-1799.">Thomas Jefferson and the national capital, containing notes and correspondence exchanged between Jefferson, Washington, L'Enfant,
                        Ellicott, Hallett, Thornton, Latrobe : the commissioners, and others, relating to the founding, surveying, planning, designing,
                        constructing, and administering of the city of Washington, 1783-1818 ...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Thomas%20Paine%20to%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">Thomas Paine to George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Titles%20of%20papers%20for%20program%20one%3A...%20Issued%20by%20the%20United%20States%20George%20Washington%20bicentennial%20commission%20%3A%201732-1932.+au:Washington%2C%20George%2C%201732-1799.">Titles of papers for program one:... Issued by the United States George Washington bicentennial commission : 1732-1932.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Travels%20in%20North-America%2C%20in%20the%20years%201780-81-82+au:Washington%2C%20George%2C%201732-1799.">Travels in North-America, in the years 1780-81-82
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Two%20addresses+au:Washington%2C%20George%2C%201732-1799.">Two addresses
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Vie%2C%20correspondance%20et%20e%CC%81crits%20de%20Washington+au:Washington%2C%20George%2C%201732-1799.">Vie, correspondance et écrits de Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Vie%2C%20correspondance%20et%20e%CC%81crits%20de%20Washington.%20Pub.%20d%27apre%CC%80s%20l%27e%CC%81dition%20ame%CC%81ricaine%20et%20pre%CC%81ce%CC%81de%CC%81s%20d%27une%20introduction%20sur%20l%27influence%20et%20le%20caracte%CC%80re%20de%20Washington%20dans%20la%20re%CC%81volution%20des%20Etats-Unis%20d%27Ame%CC%81rique+au:Washington%2C%20George%2C%201732-1799.">Vie, correspondance et écrits de Washington. Pub. d'après l'édition américaine et précédés d'une introduction sur l'influence
                        et le caractère de Washington dans la révolution des Etats-Unis d'Amérique
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Voyages%20de%20M.%20le%20marquis%20de%20Chastellux%20dans%20l%27Ame%CC%81rique%20septentrionale%20dans%20les%20anne%CC%81es%201780%2C%201781%20%26amp%3B%201782.+au:Washington%2C%20George%2C%201732-1799.">Voyages de M. le marquis de Chastellux dans l'Amérique septentrionale dans les années 1780, 1781 &amp;amp; 1782.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20Farewell%20address.+au:Washington%2C%20George%2C%201732-1799.">Washington's Farewell address.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20capture%20of%20Boston.+au:Washington%2C%20George%2C%201732-1799.">Washington's capture of Boston.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20expedition%20to%20the%20French%20on%20the%20Ohio.+au:Washington%2C%20George%2C%201732-1799.">Washington's expedition to the French on the Ohio.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20farewell%20address%20to%20the%20people%20of%20the%20U.%20S.%20of%20America%3A+au:Washington%2C%20George%2C%201732-1799.">Washington's farewell address to the people of the U. S. of America:
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20farewell%20address%20to%20the%20people%20of%20the%20United%20States+au:Washington%2C%20George%2C%201732-1799.">Washington's farewell address to the people of the United States
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20farewell%20address%20to%20the%20people%20of%20the%20United%20States%20of%20America%3A+au:Washington%2C%20George%2C%201732-1799.">Washington's farewell address to the people of the United States of America:
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20farewell%20address%2C%20and%20Webster%27s%20first%20Bunker%20Hill%20oration+au:Washington%2C%20George%2C%201732-1799.">Washington's farewell address, and Webster's first Bunker Hill oration
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20farewell%20address%3B%20and%20the%20Constitution%20of%20the%20United%20States.+au:Washington%2C%20George%2C%201732-1799.">Washington's farewell address; and the Constitution of the United States.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20inaugural%20address%20of%201789+au:Washington%2C%20George%2C%201732-1799.">Washington's inaugural address of 1789
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20inaugural%20address%20of%201789+au:Washington%2C%20George%2C%201732-1799.">Washington's inaugural address of 1789
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20masonic%20correspondence+au:Washington%2C%20George%2C%201732-1799.">Washington's masonic correspondence
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20official%20map%20of%20Yorktown%20%3A%20a%20facsimile%20reproduction%20of%20the%20map%20of%20Yorktown%20at%20the%20time%20of%20Cornwallis%27%20surrender%2C%20which%20resulted%20in%20American%20independence.+au:Washington%2C%20George%2C%201732-1799.">Washington's official map of Yorktown : a facsimile reproduction of the map of Yorktown at the time of Cornwallis' surrender,
                        which resulted in American independence.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%27s%20valedictory%20address%20to%20the%20people%20of%20the%20United%20States.+au:Washington%2C%20George%2C%201732-1799.">Washington's valedictory address to the people of the United States.
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Washington%2C%20Webster%2C%20and%20Lincoln%3B%20selections%20for%20the%20college%20entrance%20English%20requirements+au:Washington%2C%20George%2C%201732-1799.">Washington, Webster, and Lincoln; selections for the college entrance English requirements
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Will+au:Washington%2C%20George%2C%201732-1799.">Will
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Writings+au:Washington%2C%20George%2C%201732-1799.">Writings
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:Writings%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">Writings of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%C2%98The%20%C2%9CDiaries%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">The Diaries of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%C2%98The%20%C2%9CWritings%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">The Writings of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%C2%98The%20%C2%9CWritings%20of%20George%20Washington%2C%20from%20the%20original%20manuscript%20sources%201745-1799.%20Prepared%20under%20the%20direction%20of%20the%20United%20States%20George%20Washington%20bicentennial%20commission%20and%20published%20by%20authority%20of%20Congress%20John%20C.%20Fitzpatrick%2C%20editor+au:Washington%2C%20George%2C%201732-1799.">The Writings of George Washington, from the original manuscript sources 1745-1799. Prepared under the direction of the United
                        States George Washington bicentennial commission and published by authority of Congress John C. Fitzpatrick, editor
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%C2%98The%20%C2%9CWritings%20of%20George%20Washington%2C%20from%20the%20original%20manuscript%20sources%2C%201745-1799...%20John%20C.%20Fitzpatrick%2C%20editor...+au:Washington%2C%20George%2C%201732-1799.">The Writings of George Washington, from the original manuscript sources, 1745-1799... John C. Fitzpatrick, editor...
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%C2%98The%20%C2%9Cpapers%20of%20George%20Washington+au:Washington%2C%20George%2C%201732-1799.">The papers of George Washington
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
                  <div class="related">
                     <a href="http://www.worldcat.org/search?q=ti:%E3%82%B8%E3%83%A7%E3%83%BC%E3%82%B8%E3%83%BB%E3%83%AF%E3%82%B7%E3%83%B3%E3%83%88%E3%83%B3%E3%81%AE110%E3%81%AE%E6%88%92%E3%82%81+au:Washington%2C%20George%2C%201732-1799.">ジョージ・ワシントンの110の戒め
                        <span class="arcrole">http://socialarchive.iath.virginia.edu/control/term#creatorOf</span>
                     </a>
                  </div>
               </div>
