<div id="search_by">
  <h3>Search by:</h3>
  <ul>
    <li class="active"><a href="#home" data-toggle="tab">All</a></li>
    <li><a href="#profile" data-toggle="tab"><span class="icon-ind x2"></span>Person</a></li>
    <li><a href="#messages" data-toggle="tab"><span class="icon-fam x2"></span>Family</a></li>
    <li><a href="#settings" data-toggle="tab"><span class="icon-org x2"></span>Organization</a></li>
    <!-- li class="count"><%= data.page.results %></li -->
  </ul>
  <form method="GET" action="/xtf/search">
    <input
      id="userInput"
      type="text"
      style="width: 100%;"
      title="enter
      a name or keywords"
      placeholder="enter a name or keywords"
      name="text"
      value="<%= data.page.search %>"
      class="ui-autocomplete-input"
      autocomplete="off"
      role="textbox"
      aria-autocomplete="list"
      aria-haspopup="true"></input>
    <input class="button" title="full text" type="submit" value="search"></input>
    <label class="advancedSearch" title="Advanced Search" style="display: none;">
      <i>advanced</i>… limit to
      <a title="EAC tag library" class="noarrow" href="https://spreadsheets.google.com/pub?key=0AmlczcEUr8GxdGRjeEJ6S2tBU0lmMjlDaWZZdFNiQmc&amp;hl=en&amp;output=html">section</a>
      <select name="sectionType">
        <option value="" selected="selected">eac-cpf</option>
        <option value="control">&nbsp;&nbsp;control</option>
        <option value="cpfdescription" title="default" class="default" selected="selected">&nbsp;&nbsp;cpfDescription</option>
        <option value="identity">&nbsp;&nbsp;&nbsp;&nbsp;identity</option>
        <option value="description">&nbsp;&nbsp;&nbsp;&nbsp;description</option>
        <option value="existdates">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;existDates</option>
        <option value="bioghist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;biogHist</option>
        <option value="generalcontext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;generalContext</option>
        <option value="occupation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;occupation</option>
        <option value="localdescription">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;localDescription</option>
        <option value="relation">&nbsp;&nbsp;&nbsp;&nbsp;relations</option>
        <option value="cpfrelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cpfRelation</option>
        <option value="resourcerelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;resourceRelation</option>
      </select>
    </form>
  </div>
