---
title: snac home page mockup
results: 1,234,234 names
---
<%= partial "searchby" %>



<div class="row">
  <div class="col-md-8">
    <h3 class="limitsheader">Browse or filter by:</h3>
  </div>
  <div class="col-md-4" style="text-align: right;">
    <h4 style="display: inline;">Show records with:&nbsp;</h4>
    <div class="btn-group-vertical btn-group-xs pull-right">
      <button type="button" class="btn btn-primary">All</button>
      <button type="button" class="btn btn-default">Biographies</button>
      <button type="button" class="btn btn-default">Wikipedia Links</button>
      <button type="button" class="btn btn-default">Collection Links</button>
    </div>
  </div>
</div>

    <ul class="nav nav-tabs nav-tabs-second" style="float: left;">
      <li><a href="#name" data-toggle="tab">Name</a></li>
      <li><a href="#occupations" data-toggle="tab">Occupations</a></li>
      <li><a href="#subjects" data-toggle="tab">Subjects</a></li>
    </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="featured">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "images/George_Washington.png" %>
              <div class="carousel-caption">
                <h1><a href="">George Washington, 1732-1799.</a></h1>
                <p>Image Credit: <a href="http://en.wikipedia.org/wiki/File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg">Wikipedia</a></p>
              </div>
            </div>
            <div class="item">
              <%= image_tag "images/graph.png" %>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <%= image_tag "images/screenshot_George_Washington.png" %>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>


      </div>
    </div>
  </div>
  <div class="tab-pane" id="name">
    <div>0 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z </div>
  </div>
  <div class="tab-pane" id="occupations">Occupation categories are generated from various institutional schemas. Please <a href="">take a moment</a> let us know how useful these subjects are to you and how you could help us come up with a more useful way to browse our records by subject area.
  </div>
  <div class="tab-pane" id="subjects">Subject categories are generated from various institutional schemas. Please <a href="">take a moment</a> to let us know how useful these subjects are to you and how you could help us come up with a more useful way to browse our records by subject area.
  </div>
</div>
    <!-- div id="myGrid" style="width: 100%; height: 400px;">slick me</div -->
