<ul>
  <li><a href="./home/">Home</a></li>
  <li><a href="./browse/">Browse</a></li>
  <li><a href="./azbrowse/">AZ Browse | Name</a></li>
  <li><a href="./occupations/">AZ Browse | Occupation</a></li>
  <li><a href="./subjects/">AZ Browse | Subjects</a></li>
  <li><a href="./search/">Search for George</a></li>
  <li><a href="./george_washington/">record for George</a></li>
</ul>
