<h1>Static Mockups</h1>
<p>HTML + javascript for SNAC = xhtml template files for XTF</p>
<p><a href="https://github.com/tingletech/snac2-mm-bootstrap/tree/master/source">these files
on github</a></p>

MVP; can not be launched w/o these:
<ul>
  <li><a href="./azbrowse/">AZ Browse | Name</a> </li>
  <li><a href="./search/">Search for George</a> </li>
  <li><a href="./george_washington/">record for George</a></li>
  <li><a href="./occupations/">AZ Browse | Occupation</a> todo</li>
  <li><a href="./subjects/">AZ Browse | Subjects</a> todo</li>
</ul>


<ul>
  <li><a href="./home/">Home</a> alternative layouts</li>
  <li><a href="./browse/">Browse</a> alternative layouts</li>
  <li><a href="./listjs/">collections related to george</a></li>
  <li><a href="./localstars/">show list of ★ed items</a> todo</li>
</ul>
