---
title: record page
identity: identity
---

<style>
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
</style>
<div id="sample_collections">
  <div id="location_list">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="location">
      Sort by location
    </button>
    <button class="sort" data-sort="count">
      Sort by count
    </button>
    <ul class="list"></ul>
  </div>
  <div id="related_collections">
    <button class="sort" data-sort="Location">
      Sort by location
    </button>
    <button class="sort" data-sort="Collection">
      Sort by collection title
    </button>
    <input class="search" placeholder="Search" />
    <%= partial "sample_data_collections" %>
  </div>
</div>
