---
title: snac search results
search: Washington, George, 1732-1799.
results: Showing 1,336 results for "Washington, George, 1732-1799."
---
<%= partial "searchby" %>
<%= partial "browsefilterby" %>

    <div 
      data-snac-grid='{"url":"http://socialarchive.iath.virginia.edu:8888/xtf/search?text=Washington%2C+George%2C+1732-1799.&sectionType=cpfdescription"}'>
      <div class="alert alert-danger">Javascript failed.  Please contact the system operator.</div>
    </div>
