---
title: title
search: George Washington!
results: 1,324 names
---
<%= partial "searchby" %>
<div class="row">
  <h3 class="col-md-3 limitsheader">Browse or filter by:</h3>
  <div class="col-md-9">
    <div style="margin-top: 10px;">
      <i>Results for "George Washington"</i>
    </div>
  </div>
</div>
<ul class="nav nav-tabs nav-tabs-second" style="height: 31px;">
  <!-- li><a href="#home" data-toggle="tab">Featured</a></li -->
  <li class="active"><a href="#name" data-toggle="tab">Name</a></li>
  <li><a href="#occupations" data-toggle="tab">Occupations</a></li>
  <li><a href="#settings" data-toggle="tab">Subjects</a></li>
</ul>
<div class="pull-right">
  <b>Show records with:
  </b>
  <span class="label label-primary">Biographies</span>
  <span class="label label-primary">Wikipedia Links</span>
  <span class="label label-primary">Collection Links</span></div>
<div id="myGrid" style="width: 100%; height: 400px;">slick me</div>
