
<h1>Washington, George 1732–1799</h2>

<div class="row">
  <div class="col-md-5">
    <div>Authority Source: WorldCat
    </div>
    <div><a href="">Alternative Names</a>
    </div>
    <div>Dates: birth 1732 - death 1799 
    </div>
    <div class="row">
    <div class="col-md-4">Gender: Male</div>
    <div class="col-md-4">Nationality: United States</div>
    <div class="col-md-4">Language: English</div>
    </div>
<h2>Biographical notes:</h2>

<img src="http://placehold.it/150x200" style="float: left; padding-right: 0.2em;"/>
<p>In eget lorem at turpis commodo laoreet. Nulla nibh ligula, tempus ut ipsum ut, imperdiet placerat augue. Morbi eu nulla fermentum, facilisis erat blandit, pellentesque odio. Proin nisl lorem, tristique nec dolor vel, tristique lobortis orci. Quisque sem sem, viverra vitae elit posuere, interdum sollicitudin mi. Sed bibendum ac mauris suscipit suscipit. Aenean malesuada, eros sit amet ultrices gravida, nulla erat vestibulum ante, in ornare diam justo vel tortor. Cras volutpat odio dolor, ac imperdiet purus tempor ut. Proin dui lorem, dapibus sed sem a, posuere rutrum tellus. Proin nulla est, convallis id feugiat sagittis, sodales eget mi. Donec ultrices massa non diam faucibus, eget mollis risus elementum.

<p>Praesent varius arcu at tempus commodo. Mauris vel leo id ante dignissim vehicula eu id ante. Phasellus quis tincidunt libero, vitae cursus turpis. Nunc tortor felis, euismod eu aliquet non, porta id magna. Proin turpis tellus, fermentum a sem nec, auctor dictum felis. Pellentesque feugiat, arcu ac tincidunt porttitor, arcu risus vestibulum nibh, in dictum ante risus ac nisi. Integer id congue eros. Mauris placerat sit amet nisi vel congue. Duis eleifend est magna, fermentum bibendum nulla cursus at. Etiam a convallis metus. Nullam nec augue sed quam dignissim gravida. Proin eget lacus blandit, commodo est molestie, hendrerit sapien. Duis semper accumsan sollicitudin.

<p>Aenean dui mi, rutrum vel faucibus id, porta nec turpis. Ut id felis at nibh rhoncus pretium tempus eu lorem. Suspendisse viverra magna turpis, at bibendum turpis vulputate cursus. Aliquam ac scelerisque ligula. Suspendisse mattis nibh nisi, eget luctus enim vehicula id. Aenean ipsum nisl, lobortis molestie consequat in, commodo auctor nibh. Proin eget commodo orci. Ut a ullamcorper risus. Fusce non eros et tortor interdum tristique eget at odio.

<p>Nam ac ligula non erat faucibus venenatis. Vestibulum molestie ante ut ullamcorper dictum. Ut arcu augue, euismod dapibus est a, sodales fringilla elit. In cursus libero nec est tincidunt, in elementum mi bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum convallis enim, a luctus dolor interdum eget. Nam tempor lacus enim, nec laoreet mi aliquam eu. Maecenas eget risus ante.

<p>Nullam ornare augue nibh, pellentesque facilisis tortor aliquet id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer interdum tincidunt mi eu tempor. Duis molestie justo quis sapien elementum mattis. Sed lobortis porttitor pellentesque. Ut ac elit vehicula, pharetra risus a, ultricies est. Sed nec bibendum nulla. Ut eros tortor, iaculis id ligula quis, elementum molestie tortor. Cras posuere, ipsum at convallis interdum, magna nibh semper leo, ac ultrices mi nisi eget eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla et elit risus. Pellentesque venenatis nunc eu risus faucibus, a pretium purus convallis. Vivamus non lacus ultricies, rhoncus nisl sit amet, pellentesque magna. Aliquam ultricies, orci vel vestibulum accumsan, metus magna pellentesque urna, et suscipit erat mi non risus. Sed lobortis tortor a tortor gravida interdum.
  </div>
  <div class="col-md-4">
<h2>Links to more</h2>
<p>Nam ac ligula non erat faucibus venenatis. Vestibulum molestie ante ut ullamcorper dictum. Ut arcu augue, euismod dapibus est a, sodales fringilla elit. In cursus libero nec est tincidunt, in elementum mi bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum convallis enim, a luctus dolor interdum eget. Nam tempor lacus enim, nec laoreet mi aliquam eu. Maecenas eget risus ante.

<p>Nullam ornare augue nibh, pellentesque facilisis tortor aliquet id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer interdum tincidunt mi eu tempor. Duis molestie justo quis sapien elementum mattis. Sed lobortis porttitor pellentesque. Ut ac elit vehicula, pharetra risus a, ultricies est. Sed nec bibendum nulla. Ut eros tortor, iaculis id ligula quis, elementum molestie tortor. Cras posuere, ipsum at convallis interdum, magna nibh semper leo, ac ultrices mi nisi eget eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla et elit risus. Pellentesque venenatis nunc eu risus faucibus, a pretium purus convallis. Vivamus non lacus ultricies, rhoncus nisl sit amet, pellentesque magna. Aliquam ultricies, orci vel vestibulum accumsan, metus magna pellentesque urna, et suscipit erat mi non risus. Sed lobortis tortor a tortor gravida interdum.
  </div>
  <div class="col-md-3">
<h2>Visualize:</h2>
<ul>
<li>Map collection locations
<li>Show this record linked to other records in SNAC
<li>View source EAC-CPF
</ul>
<h2>Occupations:</h2>
<h2>Subjects:</h2>
  </div>
</div>
