---
title: title
---
<ul class="nav nav-tabs nav-tabs-first">
  <li class="headspace"><b>Search by:</b></li>
  <li class="active"><a href="#home" data-toggle="tab">All</a></li>
  <li><a href="#profile" data-toggle="tab">😀 Person</a></li>
  <li><a href="#messages" data-toggle="tab">👪 Family</a></li>
  <li><a href="#settings" data-toggle="tab">🏢 Organization</a></li>
  <li class="pull-right" style="font-size: 200%;">1,234,234 names</li>
</ul>
<form methon="GET" action="/xtf/search" class="cpfSearch">
<div class="top-facets"></div>

<input id="userInput" type="text" size="27" title="enter a name or keywords" placeholder="enter a name or keywords" name="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
<input class="button" title="full text" type="submit" value="search">
<label class="advancedSearch" title="Advanced Search" style="display: none;"> 
<i>advanced</i>… limit to <a title="EAC tag library" class="noarrow" href="https://spreadsheets.google.com/pub?key=0AmlczcEUr8GxdGRjeEJ6S2tBU0lmMjlDaWZZdFNiQmc&amp;hl=en&amp;output=html">section</a>

<select name="sectionType">
<option value="" selected="selected">eac-cpf</option>
<option value="control">&nbsp;&nbsp;control</option>
<option value="cpfdescription" title="default" class="default" selected="selected">&nbsp;&nbsp;cpfDescription</option>
<option value="identity">&nbsp;&nbsp;&nbsp;&nbsp;identity</option>
<option value="description">&nbsp;&nbsp;&nbsp;&nbsp;description</option>
<option value="existdates">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;existDates</option>
<option value="bioghist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;biogHist</option>
<option value="generalcontext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;generalContext</option>
<option value="occupation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;occupation</option>
<option value="localdescription">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;localDescription</option>
<option value="relation">&nbsp;&nbsp;&nbsp;&nbsp;relations</option>
<option value="cpfrelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cpfRelation</option>
<option value="resourcerelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;resourceRelation</option>
</select>
        <script>
  $("label.advancedSearch").hide();
  $("form.cpfSearch").hoverIntent(function () {
    $("label.advancedSearch").css("display", "inline");
  }, function () {
    if ($("label.advancedSearch select").val() === 'cpfdescription') {
      $("label.advancedSearch").fadeOut();
    }
  });
        </script></label>

</form>

<div class="row">
  <div class="col-md-6">
    <div class="headspace"><b>Browse or filter by:</b></div>
  </div>
  <div class="col-md-6">
    <div class="headspace pull-right">Show records with:
      <span class="label label-primary">Biographies</span>
      <span class="label label-primary">Wikipedia Links</span>
      <span class="label label-primary">Collection Links</span>
    </div>
  </div>
</div>
    <ul class="nav nav-tabs nav-tabs-second">
      <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
      <li><a href="#name" data-toggle="tab">Name</a></li>
      <li><a href="#occupations" data-toggle="tab">Occupations</a></li>
      <li><a href="#subjects" data-toggle="tab">Subjects</a></li>
    </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="featured">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "images/George_Washington.png" %>
              <div class="carousel-caption">
                <h1><a href="">George Washington, 1732-1799.</a></h1>
                <p>Image Credit: <a href="http://en.wikipedia.org/wiki/File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg">Wikipedia</a></p>
              </div>
            </div>
            <div class="item">
              <%= image_tag "images/graph.png" %>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <%= image_tag "images/George_Washington.png" %>
              <div class="carousel-caption">
                <h1><a href="">George Washington, 1732-1799.</a></h1>
                <p>Image Credit: <a href="http://en.wikipedia.org/wiki/File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg">Wikipedia</a></p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>


      </div>
    </div>
  </div>
  <div class="tab-pane" id="name">
    <div>0 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z </div>
    <div id="myGrid" style="width: 100%; height: 400px;">slick me</div>
  </div>
  <div class="tab-pane" id="occupations">Occupation categories are generated from various institutional schemas. Please <a href="">take a moment</a> let us know how useful these subjects are to you and how you could help us come up with a more useful way to browse our records by subject area.
  </div>
  <div class="tab-pane" id="subjects">Subject categories are generated from various institutional schemas. Please <a href="">take a moment</a> to let us know how useful these subjects are to you and how you could help us come up with a more useful way to browse our records by subject area.
  </div>
</div>
