---
title: title
---

<div class="tabs">
<ul><li class="selected"><a>All</a></li><li><a href="/xtf/search?facet-entityType=person">Person</a></li><li><a href="/xtf/search?facet-entityType=family">Family</a></li><li><a href="/xtf/search?facet-entityType=corporateBody">Organization</a></li></ul>
</div>
<form methon="GET" action="/xtf/search" class="cpfSearch">
<div class="top-facets"></div>
<input id="userInput" type="text" size="27" title="enter a name or keywords" placeholder="enter a name or keywords" name="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
<input class="button" title="full text" type="submit" value="search" />
<label class="advancedSearch" title="Advanced Search" style="display: none;"> 
<i>advanced</i>… limit to <a title="EAC tag library" class="noarrow" href="https://spreadsheets.google.com/pub?key=0AmlczcEUr8GxdGRjeEJ6S2tBU0lmMjlDaWZZdFNiQmc&amp;hl=en&amp;output=html">section</a>

<select name="sectionType">
<option value="" selected="selected">eac-cpf</option>
<option value="control">&#160;&#160;control</option>
<option value="cpfdescription" title="default" class="default" selected="selected">&#160;&#160;cpfDescription</option>
<option value="identity">&#160;&#160;&#160;&#160;identity</option>
<option value="description">&#160;&#160;&#160;&#160;description</option>
<option value="existdates">&#160;&#160;&#160;&#160;&#160;&#160;existDates</option>
<option value="bioghist">&#160;&#160;&#160;&#160;&#160;&#160;biogHist</option>
<option value="generalcontext">&#160;&#160;&#160;&#160;&#160;&#160;generalContext</option>
<option value="occupation">&#160;&#160;&#160;&#160;&#160;&#160;occupation</option>
<option value="localdescription">&#160;&#160;&#160;&#160;&#160;&#160;localDescription</option>
<option value="relation">&#160;&#160;&#160;&#160;relations</option>
<option value="cpfrelation">&#160;&#160;&#160;&#160;&#160;&#160;cpfRelation</option>
<option value="resourcerelation">&#160;&#160;&#160;&#160;&#160;&#160;resourceRelation</option>
</select>
        </label>
</form>
<div class="row georgia">
<div class="col-xs-5" >
<b><i style="font-size: 85%;">1,987,654</i> identities</b>
</div>
<div class="col-xs-1 btn-group btn-group-xs">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-backward"></span>
  </button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-forward"></span>
  </button>
</div>
<div class="col-xs-3" style=""><i style="font-size: 85%;">1,987,654</i> occupations
</div>
<div class="col-xs-3" style=""><i style="font-size: 85%;">1,987,654</i> subjects
</div>
</div>



